<!DOCTYPE html>
<html lang="en">

<head>
   

    <style>
        body {
          background-image: url("https://th.bing.com/th/id/OIP.MlzRBOJjPgXNMtrNsvK-hQHaE0?w=273&h=180&c=7&r=0&o=5&dpr=2.5&pid=1.7");
          background-repeat: repeat;
        }
      </style>
      
      <%- include('../partials/head') %>
      
</head>
<script>
  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyB_wt1W4TNsLqe7lPifAjMlzMAQsOQvytw",
  authDomain: "cs-5356-c641b.firebaseapp.com",
  projectId: "cs-5356-c641b",
  storageBucket: "cs-5356-c641b.appspot.com",
  messagingSenderId: "801240318543",  
  appId: "1:801240318543:web:84cd6deb69ca1eff70203a"    };
    const app = firebase.initializeApp(firebaseConfig);
    const fire_pref = firebase.performance();
    }
</script>
<body>

  <div class="message is-size-2", style="text-align: center; 
  size: 80px; color: aliceblue; background-color: black;">
 <font size="+180">COMING SOON</font>
  </div>


    </script>
