<!DOCTYPE html>
<html lang="en">

<head>
   

    <style>
        body {
          background-image: url("https://th.bing.com/th/id/OIP.MlzRBOJjPgXNMtrNsvK-hQHaE0?w=273&h=180&c=7&r=0&o=5&dpr=2.5&pid=1.7");
          background-repeat: repeat;
        }
      </style>
</head>

<body>

  <div class="message is-size-2", style="text-align: center; 
  size: 80px; color: aliceblue; background-color: black;">
 <font size="+180">COMING SOON</font>
  </div>


    </script>
