<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>
<script>
  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyB_wt1W4TNsLqe7lPifAjMlzMAQsOQvytw",
  authDomain: "cs-5356-c641b.firebaseapp.com",
  projectId: "cs-5356-c641b",
  storageBucket: "cs-5356-c641b.appspot.com",
  messagingSenderId: "801240318543",  
  appId: "1:801240318543:web:84cd6deb69ca1eff70203a"    };
    const app = firebase.initializeApp(firebaseConfig);
    const fire_pref = firebase.performance();
    }
</script>
<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <div class="container">
    <div class="columns">
      <div class="column is-3 " style="text-align: right;">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a>Feed</a></li>

          </ul>
        </aside>
      </div>
      <div class="column is-4">
        <div class="mb-6">
          <div class="has-text-weight-bold mb-2">
            Share a new post
          </div>
          <form action="/dog-messages" method="post" Content-Type: 'application/json'>         
            <input class="input" type="text" name="message" placeholder="Went to the dog park today" />
            <button class="button mt-2">Ruff!</button>
          </form>
        </div>
        <div class="feed-stream">
          <%- include('../partials/feed-stream', { feed: feed }) %>
        </div>
      </div>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>