<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
  .Landing_Page_Requirements{
    margin: 0 auto;
    text-align: center;
    }
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  <p class="Landing_Page_Requirements">A place where you can see the following:</p>
  <ul class="Landing_Page_Requirements">
    <li>Product overview</li>
    <li>Feature sets</li>
    <li>How to sign up</li>
  </ul>

</body>

<%- include('../partials/footer') %>

</html>