<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing - Free Bulma template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
</head>

<body>
    <section class="hero has-background-link-dark is-small ">
        <div class="top_portion">
            <nav class="navbar ">
                   <div class="hero-body is-family-monospace ">
                       <p class="title has-text-black-bis is-3 is-spaced ">Milestone 1</p>
                       <p class="subtitle is-5">CS 5356</p>
                     </div>

                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/sign-in">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Sign In</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="sign-up">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Sign Up</span>
                                </a>
                            </span>
                             <span class="navbar-item">
                                <a class="button is-white is-outlined" href="dashboard">
                                    <span class="icon">
                                        <i class="fa fa-database"></i>
                                    </span>
                                    <span>Dashboard</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>


            <section class="section">
      <div class="container ">
        <div class="mb-6 pb-3 columns is-multiline is-centered">
          <div class="column is-12 is-6-desktop mx-auto has-text-centered">
            <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold has-text-black">Dogstagram</h2>
            <p class="subtitle mb-5 has-text-black">The newest, innovative dog-centric portal for all you pet owners!</p>
            <div class="buttons is-centered">
              <a class="mr-3" href="#">
                <img src="https://i.pinimg.com/originals/80/d3/64/80d364e09d31fcba8af274926d4332ff.jpg" alt=""></a>
              <a href="#">
                <img src="/images/app-page/images/buttons/google-play.svg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="columns is-multiline">
          <div class="column is-12 is-4-desktop">
            <div class="mb-6 is-flex">
              <span>
                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">

                  <circle cx="24" cy="24" r="11" stroke="#00d1b2"></circle>
                </svg></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">View other people's dogs!</h4>
                <p class="subtitle has-text-black">Interact, like and follow</p>
              </div>
            </div>
            <div class="mb-6 is-flex">
              <span>
                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">

                  <circle cx="24" cy="24" r="11" stroke="#00d1b2"></circle>
                </svg></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">View other breeds</h4>
                <p class="subtitle has-text-black"></p>
              </div>
            </div>
            <div class="mb-6 is-flex">
              <span>
                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="24" cy="24" r="11" stroke="#00d1b2"></circle>
                </svg></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Grooming</h4>
                <p class="subtitle has-text-black">Share tips, view styles and recommendations!</p>
              </div>
            </div>
          </div>
          <div class="column is-4 is-block-desktop is-hidden-touch">
            <img class="mx-auto mt-0-widescreen is-block image" src="/images/app-page/images/devices/phone-full.svg"
              alt=""></div>
          <div class="column is-12 is-4-desktop">
            <div class="mb-6 is-flex">
              <span>
                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="24" cy="24" r="11" stroke="#00d1b2"></circle>
                </svg></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Training</h4>
                <p class="subtitle has-text-black">Show the results of your hard work!</p>
              </div>
            </div>
            <div class="mb-6 is-flex">
              <span>
                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="24" cy="24" r="11" stroke="#00d1b2"></circle>
                </svg></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Keep your memories organized</h4>
                <p class="subtitle has-text-black"></p>
              </div>
            </div>
            <div class="mb-6 is-flex">
              <span>
                <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="24" cy="24" r="11" stroke="#00d1b2"></circle>
                </svg></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Stress relief</h4>
                <p class="subtitle has-text-black">Calm down scrolling through pictures of cute dogs!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</body>

</html>