<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here DONE -->
  <section class='hero is-large is-primary'>
    <div class="hero-body">
    <div class='container'>
      <h1 class="title is-1">Welcome</h1>
      <h1 class="title is-3">This is the landing page</h1>
    </div>
    </div>
  </section>

  
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">Title 1</h2>
          <h3 class='subtitle'> Subtitle 1</h3>
        </div>
      </div>
    </div>
  

    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">Title 2</h2>
          <h3 class='subtitle'> Subtitle 2</h3>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">Title 3</h2>
          <h3 class='subtitle'> Subtitle 3</h3>
        </div>
      </div>
    </div>
  </div>


</body>

<%- include('../partials/footer') %>

</html>