<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <section class="hero  is-large  is-bold is-primary">
    <div class="hero-body ">
        <div class="container">
            <h1 class="title is-2">Ruffhouse</h1>
            <p class="subtitle is-3">Find a place for your dog to socialize</p>
        </div>
    </div>
  </section>
  <section class="hero  is-medium  is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline is-centered">
                
                    <div class="column is-4 has-text-centered">
                        
                        <div class="icon callout-icon">
                        
                            <i class="fas fa-space-shuttle fa-4x"></i>
                        
                        </div>
                        
                        <p class="title is-5">Example callout 1</p>
                        <p class="subtitle is-5">Example subtitle 1</p>
                        
                        
                        <div class="content">
                            <p>The example description text goes here and can be multiple lines.<br>
For example, such as this. <br>
</p>
                        </div>
                        

                        
                        <a href="/bulma-clean-theme/page-1/" class="button is-primary">
                            Call to action 1
                        </a>
                        
                    </div>
                
                    <div class="column is-4 has-text-centered">
                        
                        <div class="icon callout-icon">
                        
                            <i class="fas fa-wrench fa-4x"></i>
                        
                        </div>
                        
                        <p class="title is-5">Example callout 2</p>
                        <p class="subtitle is-5">Example subtitle 2</p>
                        
                        
                        <div class="content">
                            <p>The example description text goes here and can be multiple lines.<br>
For example, such as this.<br>
</p>
                        </div>
                        

                        
                        <a href="/bulma-clean-theme/page-2/" class="button is-primary">
                            Call to action 2
                        </a>
                        
                    </div>
                
                    <div class="column is-4 has-text-centered">
                        
                        <div class="icon callout-icon">
                        
                            <i class="fab fa-github fa-4x"></i>
                        
                        </div>
                        
                        <p class="title is-5">Example callout 3</p>
                        <p class="subtitle is-5">Example subtitle 3</p>
                        
                        
                        <div class="content">
                            <p>The example description text goes here and can be multiple lines.<br>
For example, such as this.<br>
</p>
                        </div>
                        

                        
                        <a href="https://www.csrhymes.com/bulma-clean-theme/page-3/" class="button is-primary">
                            Call to action 3
                        </a>
                        
                    </div>
                
            </div>
        </div>
    </div>
</section>
</body>

<%- include('../partials/footer') %>

</html>