<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
  .navbar {
  justify-content: space-between;
  background: #007f5f;
  padding: 0.5rem 1.75rem;
}
    </style>
</head>

<body>
  <header>
    <nav>
    <%- include('../partials/nav') %>
    </nav>
  <div style="background-image: url('src/app/images/banner.jpeg');">
    <div class="container">
      <h1>Ruffhouse</h1>
      <p>Your one-stop-shop for your digital canine therapy. Woof woof!</p>
    </div>
  </div>
  <!-- CS5356 TODO #1 Add your landing page here -->
  </header> 
</body>

<%- include('../partials/footer') %>

</html>