<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
  .navbar {
  justify-content: space-between;
  background: #007f5f;
  padding: 0.5rem 1.75rem;
}
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
<title>Ruffhouse</title>

</body>

<%- include('../partials/footer') %>

</html>