<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
=======
<meta name="viewport" content="width=device-width, initial-scale=1">
>>>>>>> df08b9b (Commit milestone 1)

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
<<<<<<< HEAD
    <style>

=======
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
>>>>>>> df08b9b (Commit milestone 1)
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

<<<<<<< HEAD
  Fill me in!
  <!-- CS5356 TODO #1 Add your landing page here -->

=======
  <!-- CS5356 TODO #1 Add your landing page here -->  
  <section>
      <div class="container">
      <p class="title is-1 has-text-centered has-text-success">
        Welcome to <strong>Ruffhouse</strong>!
      </p>
      <p class="subtitle is-3 has-text-centered">
        It's a dog <strong>meet</strong> dog world
      </p>
      <p class="subtitle is-5 has-text-centered">
        <a href="/sign-in" has-text-success>Sign In</a> or <a href="/sign-up">Sign Up</a> to run with the Ruffhouse Pack!
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title is-4 has-text-centered">
        Featured Pack Members
      </h1>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image is-square">
                  <img style="border-radius: 50%" class= "is-rounded" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Dalmatian_puppy%2C_four_months.png" alt="Puppy">
                </figure>
              </div>
              <h2 class="'title has-text-centered">
                Ruff day at the office!
              </h2>
              <h3 class = 'subtitle has-text-centered'>
                @spotsNDots
              </h3>
            </div>
          </div>
        </div>
        <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="card-image">
                  <figure class="image is-square">
                    <img style="border-radius: 50%" class= "is-rounded" src="https://thehappypuppysite.com/wp-content/uploads/2017/10/goldie.jpg" alt="Puppy">
                  </figure>
                </div>
                <h2 class="'title has-text-centered">
                  Ruff start to the day!
                </h2>
                <h3 class = 'subtitle has-text-centered'>
                  @goldenGirl
                </h3>
              </div>
            </div>
        </div>
        <div class="column">
              <div class="card">
                <div class="card-content">
                  <div class="card-image">
                    <figure class="image is-square">
                      <img style="border-radius: 50%" class= "is-rounded" src="https://i.pinimg.com/originals/eb/a7/f8/eba7f8512be4dd4feb407dc8ac506c39.jpg" alt="Puppy">
                    </figure>
                  </div>
                  <h2 class="'title has-text-centered">
                    Ruff life!
                  </h2>
                  <h3 class = 'subtitle has-text-centered'>
                    @daneFonda
                  </h3>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section has-background-success">
    <div class="container">
      <h1 class="title is-4 has-text-centered">
        About <strong>Ruffhouse</strong>
      </h1>
      <p class="subtitle is-4 has-text-centered">
        It's a ruff world out there, but the <strong>Ruffhouse Pack</strong> helps each other get through the dog days by using the power of unlimited cuteness, friendship, and support!
      </p>
    </div>
  </section>  
  <section class="section">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h2 class="title is-4 has-text-centered">
              Cuteness
            </h2>
            <p class="subtitle is-4 has-text-centered">
              Share unlimited photos of cutie pups
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4 has-text-centered">
              Friendship
            </h3>
            <p class="subtitle is-4 has-text-centered">
            Meet man's best friend and their best friends
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4 has-text-centered">
              Support
            </h3>
            <p class="subtitle is-4 has-text-centered">
            'Throw a bone' to photos that you enjoy
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section ">
    <div class="container">
      <h1 class="title is-4 has-text-centered">
        Tips on taking <strong>Pup Portraits</strong>
      </h1>
      <figure class="image is-16by9">
        <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/x225ncTb_Vc" frameborder="0" allowfullscreen></iframe>
      </figure>
    </div>
  </section>
>>>>>>> df08b9b (Commit milestone 1)
</body>

<%- include('../partials/footer') %>

</html>