<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <span class="icon is-large">
          <i class="fa fa-paw fa-2x"></i>
        </span>
        <h1 class="title is-1">The Ruffhouse</h1>
        <h2 class="subtitle"><i>Your place to hangout, meet new dogs, and never miss a beat.</i></h2>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title">Catch what's happening</h2>
            <h3 class="subtitle">View posts from other dogs</h3>
          </div>
          <div class="card-image has-text-centered">
            <figure class = "image is-inline-block">
              <img src="https://www.wandoanshow.com.au/wp-content/uploads/2019/11/Dogs-square.jpg">
            </figure>
          </div>
          <!-- <footer class="card-footer">
            <div class="card-footer-item">
              <a href="#" class="button is-success">
                <i class="fa fa-retweet"></i>
              </a>
            </div>
          </footer> -->
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content has-text-centered">
            <h2 class="title">Showcase your bark</h2>
            <h3 class="subtitle">Share posts of your own for others to see</h3>
          </div>
          <div class="card-image has-text-centered">
            <figure class = "image is-inline-block">
              <img src="https://tuftoys.com/wp-content/uploads/2017/11/dog-barking-square-1024x1024.jpg">
            </figure>
          </div>
          <div class="card-image has-text-centered">
          </div>
          <!-- <footer class="card-footer">
            <div class="card-footer-item">
              <a href="#" class="button is-success">
                <i class="fa fa-retweet"></i>
              </a>
            </div>
          </footer> -->
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-primary">
    <div class="intro column is-8 is-offset-2 has-text-centered">
      <h2 class="title">So what are you waiting for?</h2>
      <div class="card-content has-text-centered">
        <button class="button is-link" onclick= "window.location.href = '/sign-in';">
          Get started
        </button>
      </div>
    </div>
  </section>

</body>

<%- include('../partials/footer') %>

</html>