<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
     
    </style>
</head>

<body>
  
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 DONE #1 Add your landing page here -->
  
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-half has-text-centered">
            <p class="title is-1">Ruffhouse</p>
            <p class="subtitle is-3">Milestone 1 Project</p>
        </div>
        <div class="column is-half">
          <p class="title is-5 has-text-white">A web app designed for posting dog photos. Sign up for an account by clicking the sign up button at the top!<br><br>
            Features: <br>
            - Landing page<br>
            - Sign-in page<br>
            - Sign-up page<br>
            - Dashboard
            
          </p>
        </div>
      </div>
    </div>
  </section>

  

</body> 

<%- include('../partials/footer') %>

</html>