<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dog Tweets!</title>
		<link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->

  <!-- Hero Section -->
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-12 ">
          <div class="container content ">
            <h1 class="title is-large">Dogs are so CUTE!</h1>
            <h5 class="subtitle">
            Let's create a world of Dogs!
            </h3>
            <a class="button is-large">
              <span class="icon">
                <i class="fab fa-codepen"></i>
              </span>
              <span>Sign Up</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <aside class="is-medium menu">
        <p class="menu-label">
          categories
        </p>
        <ul class="menu-list">
          <li class="is-right">
            <a href="" class="is-dark">
              <i class="fab fa-codepen"></i> DOG
            </a>
          </li>
            <p class="menu-label">
              More to read...
            </p>
            <ul class="menu-list">
              <li><span class="tag is-white is-medium">Example</span></li>
            </ul>
          </aside>
        </div>

        <div class="column is-9">
          <div class="content is-medium">
        <h3 class="title is-3">Dog Galleries</h3>

            <div class="box">
              <h4 id="const" class="title is-size-4">const</h4>
              <article class="message is-info">
                <span class="icon has-text-info">
                <i class="fab fa-cubes"></i>
                </span>
                <div class="message-body">
                  Block-scoped. Cannot be re-assigned. Not immutable.
                </div>
              </article>
            
          </div>
    </div>
  </div>
</div>
</div>
</section>

<footer class="footer">
<section class="section">
<div class="container">

  <div class="columns is-multiline">
    <div class="column is-one-third">
      <article class="notification media has-background-white">
        <figure class="media-left">
          <span class="icon">
            <i class="has-text-warning fas fa-columns fa-lg"></i>
          </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <h1 class="title is-size-4">Columns</h1>
            <p class="is-size-5 subtitle">
              The power of <strong>Flexbox</strong> in a simple interface
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="column is-one-third">
      <article class="notification has-background-white media">
        <figure class="media-left">
          <span class="icon has-text-info">
            <i class="fab fa-lg fa-wpforms"></i>
          </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <h1 class="title is-size-4">Form</h1>
            <p class="is-size-5 subtitle">
              The indispensable <strong>form controls</strong>, designed for maximum clarity
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="column is-one-third">
      <article class="notification has-background-white media">
        <figure class="media-left">
          <span class="icon has-text-danger">
            <i class="fas fa-lg fa-cubes"></i>
          </span>
        </figure>
        <div class="media-content">
          <div class="content">
            <h1 class="title is-size-4">Components</h1>
            <p class="is-size-5 subtitle">
              Advanced multi-part components with lots of possibilities
            </p>
          </div>
        </div>
      </article>
    </div>
    
  </div>
</div>
</section>
<hr>


<div class="columns is-mobile is-centered">
<div class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons"><a class="tag is-link" href="https://github.com/BulmaTemplates/bulma-templates">Bulma Templates</a>
    <span class="tag is-info">MIT license</span>
  </div>
</div>

<div class="control">
  <div class="tags has-addons">
    <span class="tag is-dark">based on a pen</span>
    <span class="tag has-addons is-warning"><a href="https://codepen.io/melanieseltzer/pen/odOXWM"><i class="fab fa-lg fa-codepen"></i></a></span>
  </div>
</div>
</div>
</div>

</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
  
<script>

</script> 

</body>

<%- include('../partials/footer') %>

</html>