<!DOCTYPE html>
<html lang="en" class="has-background-dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rufflehouse</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" >
</head>
<body>
<section class="container">
    
   <%- include('../partials/nav') %>
   <div class="columns features">
       <div class="column is-4">
           <div class="card is-shady">
               <div class="card-image has-text-centered">
                   <i class="fa fa-paw"></i>
               </div>
               <div class="card-content">
                   <div class="content">
                       <h4>Cat > Dog </h4>
                       <p>Cat > Dog </p>
                       <p><a href="#">Learn more</a></p>
                   </div>
               </div>
           </div>
       </div>
       <div class="column is-4">
           <div class="card is-shady">
               <div class="card-image has-text-centered">
                   <i class="fa fa-empire"></i>
               </div>
               <div class="card-content">
                   <div class="content">
                       <h4>Cat is still better than dog</h4>
                       <p>Cat dont need to be walked</p>
                       <p><a href="#">Learn more</a></p>
                   </div>
               </div>
           </div>
       </div>
       <div class="column is-4">
           <div class="card is-shady">
               <div class="card-image has-text-centered">
                   <i class="fa fa-apple"></i>
               </div>
               <div class="card-content">
                   <div class="content">
                       <h4> Boxes of Cat are much cuter than Dogs</h4>
                       <p>cats are easier to manage and easier to train</p>
                       <p><a href="#">Learn more</a></p>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div class="intro column is-8 is-offset-2">
       <h2 class="title">Perfect for people who want to show cat is a better pet than dog!</h2><br>
   </div>
   <div class="sandbox">
       <div class="tile is-ancestor" >
           <div class="tile is-parent is-shady">
               <article class="tile is-child notification is-white">
                   <p class="title"  >Click on Sign up or Sign in to start </p>
                   <figure class="image is-4by3">
                     <img src="https://cdn.britannica.com/91/181391-050-1DA18304/cat-toes-paw-number-paws-tiger-tabby.jpg?q=60" alt="Description">
                 </figure>
     </article>
           </div>
           <div class="tile is-parent is-shady">
               <article class="tile is-child notification is-white">
                   <p class="title">  Sign up and log in to view a dashboard to post pics with dogs and write comments on it.</p>
                   <figure class="image is-4by3">
                     <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=49ed3252c0b2ffb49cf8b508892e452d" alt="Description">
                 </figure>
               </article>
           </div>
           <div class="tile is-parent is-shady">
               <article class="tile is-child notification is-white">
                   <p class="title">Garfield > Odie </p>
                   <figure class="image is-4by3">
                     <img src="https://m.media-amazon.com/images/M/MV5BZGMwOGIwZjUtOWQ1OS00YWRjLWJmZGMtN2Y1OWQ3ZDYwYTM3XkEyXkFqcGdeQXVyNzU1NzE3NTg@._V1_QL75_UX500_CR0,47,500,281_.jpg" alt="Description">
                 </figure>
               </article>
           </div>
       </div>
       <div class="tile is-ancestor">
           <div class="tile is-vertical is-8">
               <div class="tile">
                   <div class="tile is-parent is-vertical">
                       <article class="tile is-child notification is-white">
                           <p class="title">Vertical tiles for garfield comic strips </p>
                           <p class="subtitle">but I dont want to violate any copyright thus not included</p>
                       </article>
                       <article class="tile is-child notification is-white">
                           <p class="title">Vertical tiles for garfield comic strips</p>
                           <p class="subtitle">but I dont want to violate any copyright thus not included</p>
                       </article>
                   </div>
                   <div class="tile is-parent">
                       <article class="tile is-child notification is-white">
                           <p class="title">cup of cat</p>
                           <figure class="image is-4by3">
                               <img src="https://image.shutterstock.com/image-photo/two-spotted-kittens-tea-cups-260nw-1607481541.jpg" alt="Description">
                           </figure>
                       </article>
                   </div>
               </div>
               <div class="tile is-parent is-shady">
                   <article class="tile is-child notification is-white">
                       <p class="title">more cat in a cup </p>
                       <figure class="image is-4by3">
                        <img src="https://i.ytimg.com/vi/b1sHeH8Lg4A/maxresdefault.jpg" alt="Description">
                    </figure>

                   </article>
               </div>
           </div>s
           <div class="tile is-parent is-shady">
               <article class="tile is-child notification is-white">
                   <div class="content">
                       <p class="title">Cat is the best</p>
                       <div class="content">
                           <p>Cats are much smarter than dogs, much more independent, will try to feed you with dead birds etc. Overall a much better pet in every single way.</p>
                       </div>
                   </div>
               </article>
           </div>
       </div>
   </div>
</section>
<footer class="footer">
   <div class="container">
       <div class="columns">
           <div class="column is-3 is-offset-2">
               <h2><strong>Category</strong></h2>
               <ul>
                   <li><a href="#">best cat food</a></li>
                   <li><a href="#">best fish for cat</a></li>
                   <li><a href="#">best birds for cat to eat</a></li>
               </ul>
           </div>
           <div class="column is-3">
               <h2><strong>Category</strong></h2>
               <ul>
                   <li><a href="#">cat vets</a></li>
                   <li><a href="#">cat supplements</a></li>
                   <li><a href="#">cat clothing</a></li>
               </ul>
           </div>
           <div class="column is-4">
               <h2><strong>Category</strong></h2>
               <ul>
                   <li><a href="#">cat playhouse</a></li>
                   <li><a href="#">cat treehouse</a></li>
                   <li><a href="#">cat bed</a></li>
                   <li><a href="#">litter box</a></li>
                   <li><a href="#">cat treats</a></li>
               </ul>
           </div>
       </div>
       <div class="content has-text-centered">
           <p>
               <a class="icon" href="https://github.com/BulmaTemplates/bulma-templates">
                   <i class="fa fa-github"></i>
               </a>
           </p>
           <div class="control level-item">
               <a href="https://github.com/BulmaTemplates/bulma-templates">
                   <div class="tags has-addons">
                       <span class="tag is-dark">Bulma Templates</span>
                       <span class="tag is-info">MIT license</span>
                   </div>
               </a>
           </div>
       </div>
   </div>
   <script src="../js/bulma.js"></script>
</footer>
</body>
<!-- 
<body>
<header>
  <%- include('../partials/nav') %>
  </header>           
  <section class = "section">
    <div class = "container has-text-centered">
      
       <span class = "title">
           Ruffle House Meet Dogs and not Cats
       </span>
       <br>
       <br>

   <section class = "hero is-warning is-bold">
    <div class = "hero-body">
       <div class = "container has-text-centered">
          <h1 class = "title">
             CS 5356 Landing Page Assignment 1 
          </h1>
          <h2 class = "subtitle">
             James An 
          </h2>
       </div>
    </div>
 </section>
</div>
</section>

</body> -->

<%- include('../partials/footer') %>

</html>
