<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>

  </header>

  <!-- Fill me in! -->
  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Ruffhouse</h1>
        <h2 class="subtitle">The world's best socializing platform for dogs.</h2>
      </div>
    </div>
  </section>

  <section>
    <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
      <h2 class="title">The Problem</h2>
      <p>Dogs can benefit a lot from socializing with other dogs, but it can be hard
        finding a place for them to do that.</p>
    </div>
  </section>

  <section class="hero">
    <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
      <h2 class="title">The Solution</h2>
      <p>A web app that allows for people to share a constant stream of dog pictures.</p>
    </div>
  </section>

  <section>
    <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
      <h2 class="title">Feature Set</h2>
      <div class="columns">
        <div class="column">
          <div class="card-content">
            <h2 class="subtitle">See Cute Dog Pictures</h2>
          </div>
        </div>
        <div class="column">
          <div class="card-content">
            <h2 class="subtitle">Post Cute Dogs</h2>
          </div>
        </div>
        <div class="column">
          <div class="card-content">
            <h2 class="subtitle">Exclusive Access to Dog Community</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div style="padding: 10px; border: 1px solid lightgray; margin: 10px; text-align:center">
      <h2 class="title">New User?</h2>
      <!-- <p>Sign Up Here!</p> -->
      <a href="/sign-up" class="button is-primary">Sign Up</a>
    </div>
  </section>


</body>

<%- include('../partials/footer') %>

</html>