<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <!-- <style>

    </style> -->
    <!-- <style>
      body {
          background-image: url("https://chico.ca.us/sites/main/files/imagecache/lightbox/main-images/dog_license.jpg");
      }
    </style> -->

</head>

<!-- <body> -->



<body>
  <%- include('../partials/nav') %>
    <section class="hero  is-fullheight  is-bold is-primary" style="background-image: url('https://wallpapersmug.com/download/2560x1440/8b5b1a/outdoor-husky-dog.jpg');
      background-size: cover;">

      <div class="hero-body ">

        <div class="container">
          <h1 class="title is-1">Ruffhouse</h1>


          <p class="subtitle is-4">Welcome to Ruffhouse!</p>

          <a href="/dashboard" class="button is-primary is-large"> Share about Your Amazing Day Now!
          </a>

        </div>
      </div>
    </section>


    <section class="hero  is-medium  is-light">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline is-centered">

            <div class="column is-4 has-text-centered">
              <figure class="image is-4by3 ">
                <img class="is-rounded" src="https://media.nature.com/lw800/magazine-assets/d41586-020-01443-0/d41586-020-01443-0_17985512.jpg">
              </figure>
              <div class="icon callout-icon">

                <!-- <i class="fas fa-space-shuttle fa-4x"></i> -->
                
              </div>

              <p class="title is-5">Record Moments</p>


              <div class="content">
                <p> <br />
                  With Ruffhouse, Memorize Every Single Precious Moment with Your 'Significant Other'<br />
                </p>
              </div>



              <a class="button is-primary is-large">
                GO
              </a>

            </div>

            <div class="column is-4 has-text-centered">
              <figure class="image is-4by3 ">
                <img class="is-rounded" src="https://i.insider.com/5484d9d1eab8ea3017b17e29?width=600&format=jpeg&auto=webp">
              </figure>

              <div class="icon callout-icon">

                <!-- <i class="fas fa-space-shuttle fa-4x"></i> -->
                
              </div>

              <p class="title is-5">Share Stories</p>


              <div class="content">
                <p> <br />
                  With Ruffhouse, Share with the Entire Community Your Unique Stories <br />
                </p>
              </div>

              
              <a class="button is-primary is-large">
                GO
              </a>

            </div>

            <div class="column is-4 has-text-centered">
              <figure class="image is-4by3 ">
                <img class="is-rounded" src="https://imageio.forbes.com/specials-images/imageserve/5db4c7b464b49a0007e9dfac/Photo-of-Maltese-dog/960x0.jpg?fit=bounds&format=jpg&width=960">
              </figure>

              <div class="icon callout-icon">

              </div>

              <p class="title is-5">Make Friends</p>


              <div class="content">
                <p> <br />
                 With Ruffhouse, Let Your Mate Make Friends with Each Other <br />
                </p>
              </div>



              <a class="button is-primary is-large">
                GO
              </a>

            </div>

          </div>
        </div>
      </div>
    </section>
</body>









</html>