<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero ">
    <div class="hero-body">
      <div class = "container">
          <h1 class = "title is-1">Welcome</h1>
          <h2 class = "subtitle">Share your dog pictures with fellow dog lovers!</h2>
      </div>
    </div>
  </section>

<div class = "columns">
  <div class = "column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://www.bluevalleyanimalhospital.net/blog/wp-content/uploads/2020/06/iStock-1136063391-2-1-1.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://www.puppyfaqs.com/wp-content/uploads/2018/06/puppyfaqs-icon.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>
    
        <div class="content">
          Does your dog like to play tug?
          <br>
          <time datetime="2022-1-1">11:09 PM - 1 Jan 2022</time>
        </div>
      </div>
    </div>
  </div>
  <div class = "column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://tractive.com/blog/wp-content/uploads/2021/09/header_image_sleeping_place_dog.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Danny</p>
            <p class="subtitle is-6">@danny</p>
          </div>
        </div>
    
        <div class="content">
          He's so cute when he sleeps!
          <br>
          <time datetime="2022-1-2">5:45 PM - 2 Jan 2022</time>
        </div>
      </div>
    </div>
  </div>
  <div class = "column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://www.akc.org/wp-content/uploads/2017/11/Pembroke-Welsh-Corgi-standing-outdoors-in-the-fall.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://cdn3.iconfinder.com/data/icons/black-easy/512/538303-user_512x512.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Nomin</p>
            <p class="subtitle is-6">@nomin</p>
          </div>
        </div>
    
        <div class="content">
          Welcome to the family!
          <br>
          <time datetime="2022-2-1">09:01 AM - 1 Feb 2022</time>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="column">
  <h1 class="title">Wanna see more?</h1>
  <h2 class="subtitle">
    Sign up <strong>now</strong>!
  </h2>
  <button class = "button is-success">Sign up</button>
</section> 
</body>

<%- include('../partials/footer') %>

</html>