<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a> -->
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Contact
            </a>
            
          </div>
        </div>
      </div>

        
    </div>
  </nav>

  <section class="hero is-danger is-fullheight">
    <div class="hero-body">
      <div class="Welcome">
        <p class="title">
          Welcome to Ruffhouse!
        </p>
        <p class="subtitle">
          Explore pictures of dogs from around the world!
        </p>
       
        <br>
        <br>
        <br>
        <br>
        <img src="static/dog.png" alt="dog">
        <br>
        <br>
        <br>
        <br>
        <br>
      
        <p class="title">
          Share pictures of your dogs and see pictures of dogs from around the world, Get Ruffing!
        </p>

        <br>
        <br>
        <br>
        <br>
        <br>

        <p class="title">
          How to Sign Up?
        </p>
        <p class="subtitle">
          Click the Sign Up button on the top right and create an account -- it really is that easy to see some amazing dog pictures!
        </p>

        <br>
        <br>
        <br>
        <br>
        <br>

        <p class="title">
          Features
        </p>
        <p class="subtitle">
          Create your account and keep track of all the dog pictures you share. <br>
          See picture of dogs from all around the world from people just like you! <br>
          
        </p>
      </div>
    </div>
  </section>


</body>

<%- include('../partials/footer') %>

</html>