<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <title>RuffHouse</title>

  <article class="message is-dark">
    <div class="message-header">
      <p>Sign Up Now!</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      Sign ups for RuffHouse are now open! Join our community of furry friends today.
    </div>
  </article>
  
  <!--
    <div class="block">
      <nav class="nav">
        <div class="nav-left">
          <a href="#" class="nav-item">
            <h1 class="title is-4">RuffHouse Home</h1>  
          </a>
        </div>

        <div class="nav-center">
          <a href="" class="nav-item">
            <span class="icon">
              <i class="fa fa-facebook"></i>
            </span>
          </a>
          <a href="" class="nav-item">
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
        </div>

        <div class="nav-right nav-menu">
          <a href="#" class="nav-item">Home</a>
          <a href="#" class="nav-item">Sign In</a>
          <a href="#" class="nav-item">Dashboard</a>
        </div>
      </nav>
    </div>
  -->
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="block">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Welcome to RuffHouse!</h1>
          <h2 class="subtitle">Welcome to <strong>RuffHouse</strong>, the home of your favorite furry friends. Woof!</h2>
        </div>
      </div>
    </section>
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Placeholder image">
        </figure>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <a href=""><i class="fa fa-twitter"></i>Twitter</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            <a href=""><i class="fa fa-facebook"></i>Facebook</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
  <section class="section">
    <div class="box is-justify-content-center">
    <h1 class="title">Product Overview</h1>
    <h2 class="subtitle">
      
    </h2>
    <div class="card-content">
      Problem:

Dogs can benefit a lot from socializing with other dogs, but it can be hard finding a place for them to do that.

Solution

A web app that allows for people to share a constant stream of dog pictures.

User stories:

As a user, I can create an account and sign in
As a user, I can view posts that other users have shared
As a user, I can share a new post with the community
As an admin, I can limit access to the stream to only signed in users.

    </div>
  </div>
  </section>

  <!-- CS5356 TODO #1 Add your landing page here -->

</body>

<%- include('../partials/footer') %>

</html>