<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- Fill me in! -->
  <!-- <div class="columns is-vcentered">
    <div class="column is-two-thirds">
      <figure class="image is-2by1">
        <img src="https://cdn.wallpapersafari.com/80/65/by3v4i.jpg">
      </figure>
    </div>

    <div class="column">Hello dog-lovers! This is a place where you can post interesting moments of your dogs and socialize with other dog owners and their dogs!</div>
  </div> -->

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">

      <div class="tile is-parent">
        <article class="tile is-child notification has-background-grey-lighter">
          <p class="title">A place where dog lovers can browse cute doggies pictures</p>
          <div class="content">
            <figure class="image is-2by1">
              <img src="https://cdn.wallpapersafari.com/80/65/by3v4i.jpg">
            </figure>
          </div>
        </article>
      </div>

      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification has-background-grey-lighter">
            <p class="title">The best platform to social among other dog owners</p>
            <figure class="image is-4by4">
              <img src="https://dogtime.com/assets/uploads/2019/06/DogSocial1.jpg">
            </figure>
          </article>
        </div>
        
        <div class="tile is-parent">
          <article class="tile is-child notification has-background-grey-lighter">
            <p class="title">And among dogs!</p>
            <figure class="image is-3by3">
              <img src="https://i0.wp.com/topdogtips.com/wp-content/uploads/2016/06/Dogs-That-Are-the-Biggest-Social-Media-Stars2.jpg?fit=1021%2C600&ssl=1">
              
            </figure>
          </article>
        </div>
      </div>

    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification has-background-grey-lighter">
        <div class="content">
          <p class="title">Sign up to see more dog pictures</p>
          <div class="box has-background-grey-lighter has-text-centered">
            <a class="button is-light has-background-grey-lighter " href="/sign-up">
              <strong>Sign Up</strong>
            </a>
          </div>
          <p></p>
          <div class="content">
            <figure class="image is-4by4">
              <img src="https://images.pexels.com/photos/1805164/pexels-photo-1805164.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </figure>
            <div class="content">
              <figure class="image is-4by4">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1041987488.jpg">
              </figure>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>

  
  <!-- CS5356 TODO #1 Add your landing page here -->
  

</body>

<%- include('../partials/footer') %>

</html>