<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  <div class="hero content is-primary has-text-centered">
    <h1 class="title">
        Ruffhouse
    </h1>
    <h2>
        A place for you and your dog to socialize 
    </h2> 
  </div>

  <div class="hero content is-primary has-text-centered">
    <h1 class="title">
        Who are we?
    </h1>
    <h2>
        We are a the most active community of dog lovers on the Internet. 
    </h2> 
  </div>

  <div class="hero content is-primary has-text-centered">
    <h1 class="title">
        What we do?
    </h1>
    <ul>
      <li>Share a picture of their dogs</li>
      <li>Connect with those with similar dogs </li>
      <li>Learn about other dog breeds</li>
    </ul>
  </div>

  <div class="hero content is-primary has-text-centered">
    <h1 class="title">
      How do you sign-up?
    </h1>
    <h2>
      Sign up below with a username and password.
      <a href="/sign-up" class="button"> Sign Up </a>
      <a href="/sign-in" class="button"> Sign In </a>

  </h2> 
  </div>

</body>

<%- include('../partials/footer') %>

</html>