<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
      body {
        background-image: url("static/yellowpinkwall.jpg");
        background-size: cover;
        height: 100vh;
      }

      .button.is-primary {
        background-color: rgb(255, 224, 51);
        color: black;
      }

      .navbar {
        background-color: rgba(255, 255, 255, 0);
      }

      .navbar-item img {
        max-height: 2.5rem;
      }

      .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
        text-align: center;
        margin-top: 10%;
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
        text-align: center;
        margin-top: 5%;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .container {
        padding: 2px 16px;
      }

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div>

      <!-- <div class="center">

        <h1 class="title">Welcome to DogNet.</h1>
        <h3 class="subtitle">Your one stop shop to connect with furry friends.</h3>

      </div> -->


      <div class="card">
        <h1 class="title">Welcome to DogNet.</h1>
        <h3 class="subtitle">Your one stop shop to connect with furry friends.</h3>
        <div>
        <img src="static/dogs.jpg" alt="dogs">
        <!-- <div class="top-left">Top Left</div> -->
        <a href="/sign-up" class="button is-primary">Create Account</a>
        </div>

        <div class="container">
          <h4><b>The Squad</b></h4> 
          <p>#chillin #firehydrant #doge #wow</p> 
        </div>
      </div>


  </div>

  <!-- <div class="landing">  
    
    
  </div> -->

  <!-- Photo by <a href="https://unsplash.com/@hannah15198?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hannah Lim</a> on <a href="https://unsplash.com/s/photos/dogs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->

</body>

<%- include('../partials/footer') %>

</html>