<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/css/style-js/landing.js"></script>
    <link rel="stylesheet" href="/static/css/landing.css">

</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <div id="main" class="is-loading">
    <h1>
      Ruff - House
    </h1>
  </div>

  Fill me in!
  <!-- CS5356 TODO #1 Add your landing page here -->

</body>

</html>