<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script src="https://kit.fontawesome.com/cd1327b62c.js" crossorigin="anonymous"></script>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
      .hero.is-fullheight.is-primary {
        background-image: linear-gradient(rgba(0,0,0, .3),rgba(0,0,0, .3)), url(https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
      }
      .title {
        font-family: 'Balsamiq Sans', cursive;
      }
      .subtitle {
        font-family: 'Balsamiq Sans', cursive;
      }
      .button {
        font-family: 'Balsamiq Sans', cursive;
      }
      .feature {
        font-family: 'Balsamiq Sans', cursive;
      }
      .fa-solid{
        color: rgb(168,148,140)
      }
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <section class="hero is-fullheight is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1">Ruffhouse</h1>
        <h2 class="subtitle">It's ruff out there. Socialize with other dogs today.</h2>
        <a class="button is-rounded is-medium is-dark" href="/sign-up">Sign Up!</a>
      </div>
    </div>
  </section>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="columns">
        <div class="column has-text-centered">
          <div class="contain-icon">
            <span class="icon">
              <i class="fa-solid fa-dog fa-4x"></i>
            </span>
          </div>
          <div class="feature is-size-3 mt-3">
            Join a community of dog lovers
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="contain-icon">
            <span class="icon">
              <i class="fa-solid fa-eye fa-4x"></i>
            </span>
          </div>
          <div class="feature is-size-3 mt-3">
            View posts that other users have shared
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="contain-icon">
            <span class="icon">
              <i class="fa-solid fa-share fa-4x"></i>
            </span>
          </div>
          <div class="feature is-size-3 mt-3">
            Share a new post with the community
          </div>
        </div>
    </div>
  </section>
  <!-- CS5356 TODO #1 Add your landing page here -->

</body>

<%- include('../partials/footer') %>

</html>