<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
    <header>
      <%- include('../partials/nav') %>
    </header>

    <section class="hero is-primary">
      <div class="hero-body">
        <h1 class="title is-1">
          Ruffhouse
        </h1>
        <p class="subtitle is-1">
          Where dogs bark
        </p>
      </div>
    </section>

    <section class="content">
      <div class="columns">
        <div class="column">
          <div class="hero-body">
            <h2 class="title is-2">Howl with other dogs</h2>
            <p class="subtitle is-4">
              Ruffhouse is <em>the</em> place to find out what all your furry-tailed friends are up to!
            </p>
          </div>
        </div>
        <div class="column">
          <div class="hero-body">
            <figure class="image is-128x128">
              <img class="is-rounded" src="/static/IMG_0969.jpg">
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="hero-body">
        <h2 class="title is-2">Bow wow at the Ruffhouse Pow Wow</h2>

        <div class="columns">
          <div class="column">
            <div class="hero-body">
              <p class="subtitle is-4">With Ruffhouse you can...</p>
              <ul>
                <li>See what your dawgs are up to</li>
                <li>Ruff at your friends</li>
                <li>Share photos of your best pose</li>
              </ul>
            </div>
          </div>

          <div class="column">
            <div class="hero-body">
              <figure class="image is-128x128">
                <img class="is-rounded" src="/static/dog.jpg">
              </figure>
            </div>
          </div>
        </div>
        
      </div>
    </section>

    <section class="hero is-link">
      <div class="hero-body">
        <h2 class="title is-2">Fetch yourself a Ruffhouse account</h2>
        <p class="subtitle is-4">Ready to find out what Ruffhouse is all about?</p>
        <p class="subtitle is-5">Click below to create an account</p>
        <a href="/sign-up" class="button is-primary">
          Sign up!
        </a>
      </div>
    </section>

  </body>

  <%- include('../partials/footer') %>

</html>