<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../../../static/hero.css">
    <title>RuffHouse</title>
    <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->

</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <section class="hero is-info is-medium is-bold">
      <figure class="image">
          <img src="../../../static/hero-bg.jpg">
      </figure>

      <div class="container has-text-centered">
          <h1 class="title">
              Ruff House
          </h1>
          <h2 class="subtitle">
              Share pictures of lovely dogs!
          </h2>

          <div>
              <a href="/sign-up" class="button is-primary">Sign Up
              </a>
          </div>

      </div>
  </section>




</body>

<%- include('../partials/footer') %>

</html>