<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ruff House</title>
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.9.0-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/hero.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<body>
    <section class="hero is-info is-medium is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                        
                          <div style="font-size:3vw" class="icon-text">
                            <span class="icon has-text-white">
                              <i class="fa fa-paw"></i>
                            </span>
                            <span>   Ruff House </span>
                          </div>
                         
                        </a>
                        
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                  
                                <span class="navbar-item">
                                    <a class="button is-white is-outlined" href="http://localhost:8080/sign-in">
              
                                        <span title="Login">Login</span>
                                    </a>
                                </span>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                Ruff House: A New Social Media Made for Dogs
                </h1>
                <h2 class="subtitle">
                Sign up and create an account today! Don't miss out on what the other dogs are up to.
                </h2>
                <br>
                <br>
                <!-- <button class="button is-danger is-rounded">Sign Up</button> -->

                <a class="button is-danger is-rounded" href="http://localhost:8080/sign-up">
              
                    <span title="Login">Sign Up</span>
                </a>
            </div>
        </div>
    </section>
    
    <section class="container">
      <br>
      <br>
      <div class="columns features">
          <div class="column is-4">
              <div class="card is-shady">
                  <div class="card-image has-text-centered">

                  </div>
                  <div class="card-content">
                      <div class="content">
                          <h4>Step 1: Sign Up </h4>
                          <p>To sign up click the Sign Up button and create a username and password!</p>
                          <a class="button is-danger is-rounded" href="http://localhost:8080/sign-up">
              
                            <span title="Login">Sign Up</span>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="column is-4">
              <div class="card is-shady">
                  <div class="card-image has-text-centered">
                      
                  </div>
                  <div class="card-content">
                      <div class="content">
                          <h4>Step 2: Create Your First Post!</h4>
                          <p> Start adding to the feed by typing a message to share with your friends and pressing the Ruff! button.  </p>
                          <a class="button is-danger is-rounded" href="http://localhost:8080/sign-in">
              
                            <span title="Login">Sign In</span>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="column is-4">
              <div class="card is-shady">
                  <div class="card-image has-text-centered">
                    
                  </div>
                  <div class="card-content">
                      <div class="content">
                          <h4> Step 3: Browser Your Feed </h4>
                          <p>Broswer your feed and see what your other furry friends are up!</p>
                          <a class="button is-danger is-rounded" href="http://localhost:8080/sign-in">
              
                            <span title="Login">Sign In</span>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

</body>

<%- include('../partials/footer') %>

</html>