<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  
  <section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="title">
          Share pictures of your dog
        </p>
        <p class="subtitle">
          only @ Huffhouse
        </p>
      </div>
    </div>
  </section>

</body>

<%- include('../partials/footer') %>

</html>