<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->

    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 - DONE Add your landing page here -->

  <section class="hero is-primary is-medium is-bold">
    <div class="hero-body">
      <div class="container has-text-left">
        <h1 class="title">
          Ruffhouse
        </h1>
        <h2 class="subtitle">
          A site devoted entirely to your furry friend!
        </h2>
      </div>
    </div>
  </section>

  <div class="block"></div>

  <section class="container">
    <div class="columns features">
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <i class="mdi pets"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Share</h4>
              <p>Share photos of your pet on Ruffhouse for all your friends (and your dog's friends) to see.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <i class="fa fa-empire"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>View</h4>
              <p>Scroll through a feed of your friends' dogs. Doesn't Fido look so cute!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <i class="fa fa-apple"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Comment</h4>
              <p>Add comments to phots on Ruffhouse to all the furbabies know how much they are loved and adored.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="intro column is-8 is-offset-2">
      <h2 class="title">Sign Up!</h2><br>
      <p class="subtitle">Sound like fun? Sign up for Ruffhouse and start sharing, viewing, and commenting on all the doggos!</p>
      <a href="/sign-up" class="button is-link">Sign Up!</a>
    </div>
  </section>

</body>

<%- include('../partials/footer') %>

</html>