<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
  <div class="container">
    <div class="notification is-primary">
      Welcome to <strong>Ruff</strong>! A place where dogs share their feelings!
    </div>
  </div>

  <div class="container">
    <div class="test">
      <figure class="image is-fullwidth">
        <img src="https://cdn.pixabay.com/photo/2017/03/30/18/38/border-collie-2189332_1280.jpg">
      </figure>
    </div>
  </div>

  <!-- <div class="container">
    <div class="columns">
      <div class="column">
        <a href="/sign-up" class="button is-primary is-rounded">Sign Up Now</a>
      </div>
      <div class="column">
        <a href="/sign-in" class="button is-primary is-rounded">Sign In</a>
      </div>
    </div>    
  </div> -->

  <div class="container">
    <div class="notification has-background-white">
    
    </div>
  </div>

  <nav class="level">
    <div class="level-item has-text-centered">
      <div class="columns">
        <div class="column">
          <a href="/sign-up" class="button is-primary is-rounded">Sign Up Now</a>
        </div>
        <div class="column">
          <a href="/sign-in" class="button is-primary is-rounded">Sign In</a>
        </div>
      </div>    
    </div>
  </nav>


  <!-- <figure class="image is-fullwidth">
    <img src="https:\/\/images.dog.ceo\/breeds\/terrier-westhighland\/n02098286_345.jpg">
  </figure>
  <a href="/sign-up" class="button is-primary is-rounded">Start Exploring</a> -->


</body>

<%- include('../partials/footer') %>

</html>