<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
    </style>
</head> 

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <section class="hero is-link is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Ruffhouse</h1>
        <h2 class="subtitle is-5">Your dog's favorite app</h2>
      </div>
    </div>
  </section>
  
  
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <h2 class="title">How We Work</h2>
        <h2 class="subtitle">Ruffhouse is the worlds best social media for dogs</h2>
      </div> 
    <div class="content">
        Here you will find the cutest dogs in your area. 
        Have fun posting and browsing posts like those found to the right.
        
        Sign up above!
    </div>
    </div>
    <footer class="card-footer">
      

    </footer>
  </div>
  
  <div class="column">
    <div class="card"> 
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="http://cdn.akc.org/content/article-body-image/newfoundland_dog_pictures.jpg" alt="post demo">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="https://ih1.redbubble.net/image.550546786.9902/flat,128x,075,f-pad,128x128,f8f8f8.u6.jpg" alt="icon demo">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Mr. woofer</p>
            <p class="subtitle is-6">@woofynewfy</p>
          </div>
        </div>
      </div>
        <div class="content">
          Had a great walk in the park today. I think I saw <a>@floofer1234</a>.
          <br>
          <time datetime="2022-2-13">11:09 AM - 13 feb 2022</time>
        </div>
      </div>
    </div>
  </div>



</body>

<%- include('../partials/footer') %>

</html>