<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rufflehouse</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
<header>
  <%- include('../partials/nav') %>
  </header>           
  <section class = "section">
    <div class = "container has-text-centered">
      
       <span class = "title">
           Ruffle House Meet Dogs and not Cats
       </span>
       <br>
       <br>

   <section class = "hero is-warning is-bold">
    <div class = "hero-body">
       <div class = "container has-text-centered">
          <h1 class = "title">
             CS 5356 Landing Page Assignment 1 
          </h1>
          <h2 class = "subtitle">
             James An 
          </h2>
       </div>
    </div>
 </section>
</div>
</section>

</body>

<%- include('../partials/footer') %>

</html>
