<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>

  </header>

  <!-- Fill me in! -->
  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Ruffhouse</h1>
        <h2 class="subtitle">The world's best socializing platform for dogs.</h2>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column">
      <div class="card-content">
        <h2 class="title">Product Overview</h2>
        <h3 class="subtitle">The Problem: Dogs can benefit a lot from socializing with other dogs, but it can be hard
          finding a place for them to do that.</h3>
        <h3 class="subtitle">The Solution: A web app that allows for people to share a constant stream of dog pictures.
        </h3>
      </div>
      <!-- <footer class="card-footer">
        <div class="card-footer-item">
        </div>
      </footer> -->

    </div>
    <div class="column">
      <div class="card-content">
        <h2 class="title">Feature Set</h2>
        <ul>
          <li>Sign Up</li>
          <li>Dashboard</li>
          <li>Posting Messages</li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="card-content">
        <h2 class="title">How to Sign Up</h2>
        <h3 class="subtitle">New User? Sign up here!</h3>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">
          <a href="/sign-up" class="button is-primary">Sign Up
        </div>
      </footer>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>