<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <section class="hero  is-large  is-bold is-primary">
    <div class="hero-body"
      style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../../static/dog_wallpaper.jpeg'); background-position-y: bottom;">
      <div class="container">
        <h1 class="title is-2">This is Ruffhouse</h1>
        <p class="subtitle is-3">A social network for the Dogs</p>
        <a href="/sign-up" class="button is-info is-large">Sign Up</a>
      </div>
    </div>
  </section>
  <section class="hero  is-medium  is-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline is-centered">
          <div class="column is-4 has-text-centered">
            <div class="icon callout-icon">
              <i class="material-icons" style="font-size: 5em;">forum</i>
            </div>
            <p class="title is-5">Community</p>
            <div class="content">
              <p>Connect with other dog owners and share experiences <br>
              </p>
            </div>
          </div>
          <div class="column is-4 has-text-centered">
            <div class="icon callout-icon">
              <i class="material-icons" style="font-size: 5em;">live_tv</i>
            </div>
            <p class="title is-5">Real time</p>
            <div class="content">
              <p>All updates are shared with the community instantly<br>
              </p>
            </div>
          </div>
          <div class="column is-4 has-text-centered">
            <div class="icon callout-icon">
              <i class="material-icons" style="font-size: 5em;">closed_caption</i>
            </div>
            <p class="title is-5">Captions</p>
            <div class="content">
              <p>Use captions to describe your favorite dog memories<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<%- include('../partials/footer') %>

</html>