<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

  <link rel="stylesheet" href="/static/styles/main.css">
</head>

<body>
  <nav>
    <%- include('../partials/nav') %>
  </nav>
  <header>
    <h1>Ruffhouse</h1>
    <p>Your one and only dog collection</p>
  </header>
  <main>
    <section class="posts__featured">
      <h2 class="section--title">Featured</h2>
      <div class="section--scroll">
       <% for(var i=0; i < 8; i++) {%>
          <%- include('../partials/scroll-item') %>
       <% } %>
      </div>
    </section>
    <section class="posts__latest"></section>
  </main>

  <%- include('../partials/footer') %>

</body>

</html>