<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <style>
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->


  <section class="hero  is-large  is-bold is-link" style="
    background: url(https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?cs=srgb&dl=pexels-helena-lopes-2253275.jpg&fm=jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <div class="hero-body ">
      <div class="container">
        <div class="column is-offset-5">
          <h1 class="title is-1">Ruffhouse</h1>
        </div>


        <h1 class="title is-2">Building Social Network For Your Pets!</h1>



        <!-- <a href="/" class="button is-info is-large">Example Call To Action</a> -->

      </div>
    </div>
  </section>





</body>

<%- include('../partials/footer') %>

</html>