<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>

  </header>

  <!-- Fill me in! -->
  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Ruffhouse</h1>
        <h2 class="subtitle">The world's best socializing platform for dogs.</h2>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column">
      <div class="card-content">
        <h2 class="title">Product Overview</h2>
        <h3 class="subtitle">Author</h3>
      </div>
      <!-- <footer class="card-footer">
        <div class="card-footer-item">
        </div>
      </footer> -->

    </div>
    <div class="column">
      <div class="card-content">
        <h2 class="title">Feature Set</h2>
        <h3 class="subtitle">Author</h3>
      </div>
    </div>
    <div class="column">
      <div class="card-content">
        <h2 class="title">How to Sign Up</h2>
        <a href="/sign-up" class="button is-primary">Sign Up
      </div>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>