<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Puppy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head> 

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  

  <!-- hero-->
  <section class = "hero is-fullheight-with-navbar" style ="background-image: url('https://www.gannett-cdn.com/presto/2020/03/17/USAT/c0eff9ec-e0e4-42db-b308-f748933229ee-XXX_ThinkstockPhotos-200460053-001.jpg?crop=1170%2C658%2Cx292%2Cy120&width=1200');">
    <div class = "hero-body">
        <p style= "color: rgb(185, 164, 122);font-size:9vw;" class = "title">Welcome to the puppy world!</p>
    </div>
  </section>
<br>
<br>
<br>
  <h1 style="text-align: center;"class="title">We have all the cute puppies around the world</h1>
  <br>
  <br> 
  <!-- columns-->
  <div class = "columns">
    <div class = "column ">
      <div class = "card">
        <div class = "card-content">
          <figure class = "image">
            <img src = "https://media1.popsugar-assets.com/files/thumbor/TzQzX5dPh50anG-iW9DJlRw2YMM/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2020/03/12/805/n/1922243/b57736215e6a7d475775d1.49703223_/i/photos-golden-retriever-puppies.jpg">
         </figure>
         <h1 style = "font-size: large;"class = "title">
          "You are my favorite furry thing"
         <h1>
          <br>
          <br>
        </div>
      </div>
    </div>

    <div class = "column"> 
      <div class = "card">
        <div class = "card-content">
          <figure class = "image">
            <img src = "https://images2.minutemediacdn.com/image/upload/c_crop,h_1192,w_2119,x_0,y_178/f_auto,q_auto,w_1100/v1619704248/shape/mentalfloss/646037-gettyimages-1077145200.jpg">
         </figure>
         <h1 style = "font-size: large;"class = "title">
          "My sunshine doesn't come from the skies. It comes from the love that's in my dogs eyes."
         <h1>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class = "column">
      <div class = "card">
        <div class = "card-content">
          <figure class = "image">
            <img src = "https://i.pinimg.com/736x/66/d0/f1/66d0f1ef4c840a9b8ac5f51882770069--so-funny-funny-stuff.jpg">
         </figure>
         <h1 style = "font-size: large;"class = "title">
          "No, this pool is definitely not for kids. This pool is for dogs."
         <h1>
          <br>
          <br>
        </div>
      </div>
    </div>

  
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h1 class="title">
                Ready to give it a try?
            </h1>
            <h2 class="subtitle">
                Sign up for more content!
            </h2>
            <div class="box">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Enter your email">
                    </p>
                    <p class="control">
                        <a class="button is-info">
                            Notify Me
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<%- include('../partials/footer') %>

</html>