<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>


  <!-- CS5356 TODO #1 Add your landing page here -->
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">"Quote"</h2>
          <h3 class="subtitle">Author</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button is-info">
              <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
              </span>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-danger">
              <i class="fa fa-thumbs-o-down"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-success">
              <i class="fa fa-retweet"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">"Quote"</h2>
          <h3 class="subtitle">Author</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button is-info">
              <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
              </span>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-danger">
              <i class="fa fa-thumbs-o-down"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-success">
              <i class="fa fa-retweet"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">"Quote"</h2>
          <h3 class="subtitle">Author</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button is-info">
              <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
              </span>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-danger">
              <i class="fa fa-thumbs-o-down"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-success">
              <i class="fa fa-retweet"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="landing tiles">
      <div class="column">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <span class="icon">
              <i class="fa fa-gear">
              </i>
            </span>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">About</h4>
              <p>Welcome to Ruffhouse! The place where dogs can communicate with each other</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing tiles">
      <div class="column">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <span class="icon">
              <i class="fa fa-home">
              </i>
            </span>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Our Story</h4>
              <p>Ruffhouse was started by Fox. Fox is a beagle terrier mix.
                Fox was tired of trying to communicate with other dogs by
                using smoke signals. It was tricky
                to get the fire started without thumbs.
                So he created ruffhouse where dogs can communicate with each other directly
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing tiles">
      <div class="column">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <span class="icon">
              <i class="fa fa-paw">
              </i>
            </span>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Adopt a shelter pet</h4>
              <p>Your local animal shelter houses many loving dogs that
                would love to be your faithful companion. They have
                hearts of gold and just want to be part of a family.
                If you can't have a dog, please consider donating
                or volunteering at your local shelter.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>

<!-- removed from index.js under the start tag
 "start": "nodemon src/index.js" -->