<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doggy!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page--> 
  <section class="hero is-primary"
    <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title">

          A dog picture </h1>
          <h2 class="subtitle">
            Funny moment</h2>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="title">Somebody 1</div>
          <figure class="image is-4by3">
            <img src="https://www.rd.com/wp-content/uploads/2017/10/These-Funny-Dog-Videos-Are-the-Break-You-Need-Right-Now_493370860-Jenn_C.jpg?resize=640,426" alt="Description">
          </figure>
        </div>
        <div class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="title">Somebody 2</div>
          <figure class="image is-4by3">
            <img src="https://i0.wp.com/pawversity.com/wp-content/uploads/2016/05/close-up-pug.jpg?resize=800%2C536&ssl=1" alt="Description">
          </figure>
        </div>
        <div class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button">
              <i class="fa fa-thumbs-o-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="title">Somebody 3</div>
          <figure class="image is-4by3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFlaC6XAwdWHsrVlcAXeiDbdRwAUrXptX8JA&usqp=CAU" alt="Description">
          </figure>
        </div>
        <div class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button">
              <i class="fa fa-thumbs-o-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

<%- include('../partials/footer') %>

</html>