<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
      .landing-img {
        width: 100%;
        height: auto;
      }

      .overview {
        color: white;
        position: absolute;
        top: 60px;
        left: 80px;
      }
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  <div class="container">
    <div class="overview">
      <h1 class="is-size-1">Ruffhouse</h1>
      <h2 class="mb-4 is-size-4">A place where dogs can socialize with others.</h2>
      <h2 class="is-size-3">Product Overview</h2>
      <h2 class="mb-4 is-size-5">
        This is a social platform for people to share cute pictures of their dog.
        <br> Help your dog make a friend!
      </h2>
      <h2 class="is-size-3">Features</h2>
      <ol>
        <li> Create an account and sign in </li>
        <li> View posts that other users have shared</li>
        <li> Share a new post with the community</li>
      </ol>
      <a href="/sign-in" class="button mt-4">Sign In</a>
      <a href="/sign-up" class="button mt-4">Sign Up</a>
    </div>
    <img class="landing-img" src="static/hero-bg.jpg" />
  </div>
</body>

<%- include('../partials/footer') %>

</html>