<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  
  <!-- CS5356 TODO #1 Add your landing page here -->
  <!-- Product overview -->
  <section class="hero is-info is-large"
           style="background-image: url('https://images.dog.ceo//breeds//spaniel-cocker//n02102318_8275.jpg');
           background-size: cover; background-blend-mode: soft-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title is-1">Socialize your dog!</p>
        <p class="subtitle">A place to find dog friends!</p>
      </div>

    </div>
  </section>
  
  <!-- Feature sets -->
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="container has-text-centered">
            <h2 class="title is-4">Meet other dogs</h2>
            <h3 class="subtitle is-6">This dog is sooo cute!</h3>
            <figure class="image is-4by3">
              <img src="https://images.dog.ceo//breeds//lhasa//n02098413_333.jpg">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="container has-text-centered">
            <h2 class="title is-4">Post your dog</h2>
            <h3 class="subtitle is-6">Share his/her daily life with others!</h3>
            <figure class="image is-4by3">
              <img src="https:\/\/images.dog.ceo\/breeds\/terrier-cairn\/n02096177_11642.jpg">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="container has-text-centered">
            <h2 class="title is-4">Explore the community</h2>
            <h3 class="subtitle is-6">Don't miss the dog activities!</h3>
            <figure class="image is-4by3">
              <img src="https:\/\/images.dog.ceo\/breeds\/groenendael\/n02105056_3538.jpg">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- How to sign up -->
    <section class="hero is-medium is-link">
      <section class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">Ready to join us?</h1>
          <a href="/sign-up" class="button">Sign up</a>
        </div>
      </section>
    </section>

</body>

<%- include('../partials/footer') %>

</html>