<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  Fill me in!
  <!-- CS5356 TODO #1 Add your landing page here -->
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">"Quote"</h2>
          <h3 class="subtitle">Author</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button is-info">
              <i class="fa fa-thumbs-o-up"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-danger">
              <i class="fa fa-thumbs-o-down"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-success">
              <i class="fa fa-retweet"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">"Quote"</h2>
          <h3 class="subtitle">Author</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button is-info">
              <i class="fa fa-thumbs-o-up"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-danger">
              <i class="fa fa-thumbs-o-down"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-success">
              <i class="fa fa-retweet"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">"Quote"</h2>
          <h3 class="subtitle">Author</h3>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="#" class="button is-info">
              <i class="fa fa-thumbs-o-up"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-danger">
              <i class="fa fa-thumbs-o-down"></i>
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#" class="button is-success">
              <i class="fa fa-retweet"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>

// removed from index.js under the start tag
// "start": "nodemon src/index.js"