<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->


  
  <section class="hero is-medium is-link">
    <div class="hero-body">
      <h1 class="title is-1">
        Ruffhouse
      </h1>
      <p class="subtitle is-4">
        Ruffhouse is a web app that allows for people to share a constant stream of dog pictures.
        <br />
        Dogs can benefit a lot from socializing with other dogs. And we provide the place for them to do that.
      </p>
    </div>
  </section>

  <section class="hero  is-info">
    <div class="hero-body">
      <p class="subtitle is-2">
        Amazing Features
      </p>
      <p class="subtitle is-4">
        *Sign up and Sign in using your Email and Password!
        <br />
        *View adorable posts that other users have shared!
        <br />
        *Share your unique moments with the Ruffhouse community!
      </p>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body">
      <h1 class="title is-3">
        Sign Up Instruction
      </h1>
      <p class="subtitle is-4">
        Click the sign-up button on the top right corner and enjoy your time in Ruffhouse!
      </p>
    </div>
  </section>


</body>

<%- include('../partials/footer') %>

</html>