<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- hero -->
  <section class="hero is-info is-fullheight">
    <div class="heo-head">
      <div class="container">
        <h1 class="title is-1">Ruffhouse</h1>
        <h2 class="subtitle">Because the World is Ruff</h2>
      </div>
    </div>
    <div class="hero-body">
      <!-- product overview --> 
      <h2 class="subtitle">Ruffhouse is the premier destination for your pup to peep other pups. Share photos of your dog and unleash their pack mentality.</h2>
    </div>
  </section>

  <!-- columns  -->
  <!-- feature sets -->
  <div class="block">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h2 class="title">View</h2>
            <h3 class="subtitle">Find photos for you and your dog to enjoy</h3>
          </div>
        </div>
      </div>  
      <div class="column">
        <div class="card">
          ,<div class="card-content">
            <h2 class="title">Share</h2>
            <h3 class="subtitle">Share photos of your pup with your puppy's pals</h3>
          </div>
        </div>
      </div>    
    </div>
  </div>
<!-- Sign up -->
<a href="/pages/sign-up.ejs" class="button is-link">Join Ruffhouse</a>
</body>

<%- include('../partials/footer') %>

</html>