<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <section class="hero is-danger is-fullheight">
    <div class="hero-body">
      <div class="">
        <p class="title has-text-white">
          Ruffhouse
        </p>
        <p class="subtitle">
          Dogs can benefit a lot from socializing with other dogs, <br> but it can be hard finding a place for them to do that.
        </p>
      </div>
    </div>
  </section>
<br>
<section class="container">
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-paw"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Discover </h4>
                        <p>View posts that other users have shared.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-upload"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Post </h4>
                        <p>Share new posts with the community.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-share"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Share </h4>
                        <p>Share a constant stream of dog pictures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

</body>

<%- include('../partials/footer') %>

</html>