<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>


  <!-- CS5356 TODO #1 Add your landing page here -->
  <div class =  '' >
    <div class = 'card-content'>
      <h2 class = 'title has-text-primary'>Find and Share your furry friend</h2>
      
      <h3 class = 'subtitle'>Every dog is welcome</h3>
      <a href= "/sign-up" class = "button">Sign Up</a>
    </div>
  </div>
  
  <div class= 'columns'>
    <div class = 'column'>

      <div class = 'card'>
        <div class = 'card-content'>
          <figure class = 'image is-fullwidth block'>
            <img src = "https://images.dog.ceo/breeds/dingo/n02115641_9110.jpg">
          </figure>
          <div class="media-content">
            <p class="title is-4">
              Lazying About
            </p>
            <p class="subtitle is-6">
              @NotHusky11
            </p>

            <div class = 'content block'>
              <p>Just took this on our walk this morning</p>
            </div>
            <div class= 'buttons'>
              <button class = 'button'>
                <span class = 'icon is-small'>
                  <i class="fa-solid fa-thumbs-up"></i>
                </span>
              </button>
              <button class = 'button'>
                <span class = 'icon is-small'>
                  <i class="fas fa-reply"></i>
                </span>
              </button>

              <button class = 'button '>
                <span class = 'icon is-small'>
                  <i class="fa-regular fa-star"></i>
                </span>
              </button>
            </div>
          </div>
        </div>

          
        </div>
      
    </div>

    <div class = 'column'>
      <div class = 'card'>
        <div class = 'card-content'>
          <figure class = 'image is-fullwidth block'>
            <img src = 'https://images.dog.ceo/breeds/papillon/n02086910_485.jpg'>
          </figure>

          <div class="media-content">
            <p class="title is-4">
              Lunch Time
            </p>
            <p class="subtitle is-6">
              @LongEars41
            </p>
          

            <div class = 'content block'>
              <p>When Daniel hears food being poured</p>
              <blockquote>Aww what big ears - dogodogo23</blockquote>
            </div>
            <div class= 'buttons'>
              <button class = 'button'>
                <span class = 'icon is-small'>
                  <i class="fa-solid fa-thumbs-up"></i>
                </span>
              </button>
              <button class = 'button'>
                <span class = 'icon is-small'>
                  <i class="fas fa-reply"></i>
                </span>
              </button>

              <button class = 'button '>
                <span class = 'icon is-small'>
                  <i class="fa-regular fa-star"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = 'columns'>
    <div class = 'column'>

      <div class = 'card'>
        <div class = 'card-content'>
          <div class = 'columns is-vcentered' >
            <div class = 'column is-two-thirds'>
              <h2 class = 'title'>Post</h2>
              <p>Create your own custom post featuring your doggo</p>
            </div>
            <div class = 'column is-one-third has-text-centered'>
              <i class="icon fas is-large fa-sticky-note fa-5x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = 'column'>
      <div class = 'card'>
        <div class = 'card-content'>
          <div class = 'columns is-vcentered' >
            <div class = 'column is-two-thirds'>
              <h2 class = 'title'>Share</h2>
              <p>Share your post with the whole community</p>
            </div>
            <div class = 'column  has-text-centered'>
              <i class="icon fas fa-regular fa-share fa-5x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

<%- include('../partials/footer') %>

</html>