<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  
  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello!
      </h1>
      <p class="subtitle">
        Welcome to <strong>Doggie Doggie Ruff</strong>!
      </p>
    </div>

    <div class="section">
      <div>
        <figure class="image is-128x128">
          <img src="https://github.com/xxtliu/2022-cs5356-milestone-1/blob/main/src/views/pages/funny-dog-puppy-cartoon_290335-160.jpg?raw=true">
        </figure>
      </div>
    </div>

  </section>


</body>

<%- include('../partials/footer') %>

</html>
