<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
  <div class="hero is-success">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Want to make some new friend for your dog?
        </p>
        <p class="subtitle">
          Share the steam of pictures of your dog here!
        </p>
      </div>
    </div>
  </div>

  <div class="columns is-desktop is-vcentered is-multiline mt-1 ml-1 mr-1">
    <div class="column">
      <div class='card'>
        <div class='card-content'>
          <div class='is-size-2'> Post </div>
          <div class='is-size-5'> Post pictures of your cute dog anytime </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class='card'>
        <div class='card-content'>
          <div class='is-size-2'> View </div>
          <div class='is-size-5'> View pictures of those you've followed </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class='card'>
        <div class='card-content'>
          <div class='is-size-2'> Connect </div>
          <div class='is-size-5'> Say hi to your local dog lovers </div>
        </div>
      </div>
    </div>
    <div class="column is-full">
      <div class='card'>
        <div class='card-content'>
          Sign In/Sign Up using the upper-right button
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

</body>

</html>