<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
    
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sharing your lovely dog</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hello-parallax.css">
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 ">RuffHouse</h1>
        <h2 class="subtitle">Share your lovely dog with your friends! </h2>
        <a href="#" class="button is-white is-medium is-inverted">Learn More&ensp;<i class="fad fa-chevron-right"></i></a>
      </div>
    </div>
  </section>
  


</body>

<%- include('../partials/footer') %>

</html>