<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

      html
        {
          background-color: white;
        }
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <div style="width:30%; float:left;">
    <p style="font-size: 50px; text-align: center; margin-top: 150px;">Welcome!</p>
    <p style="font-size: 30px; text-align: center; margin-top: 25px;">Dogs and cats are amazing</p>
    <p style="font-size: 20px; text-align:center; margin-top: 15px;">Sign up now to share your love for dogs with our community:</p>
    <a style="display:block; width: 50%; margin-left:auto; margin-right:auto; margin-top: 10px;" href="/sign-up" class="button is-primary">Create An Account</a>
  </div>
  <img style="height:800px; width:70%; float:right;" src="https://media.newyorker.com/photos/590971712179605b11ad7a88/4:3/w_1787,h_1340,c_limit/Jabr-AreCatsDomesticated.jpg" alt="cute cat">
  
  
  <!-- CS5356 TODO #1 Add your landing page here -->
  

</body>

<%- include('../partials/footer') %>

</html>