<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Hero - Free Bulma template</title>
            <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <!-- Bulma Version 0.9.0-->
            <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
            <link rel="stylesheet" type="text/css" href="../css/hero.css">
            <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        </head>
        <body>
            <section class="hero is-info is-medium is-bold">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title">
                        Welcome to Ruffhouse!
                        </h1>
                        <h2 class="subtitle">
                         A place for your dogs to meet new friends
                        </h2>
                    </div>
                </div>
            </section>
            <div class="box cta">
                <p class="has-text-centered">
                    <span class="tag is-primary">New</span> Features
                </p>
            </div>
            <section class="container">
                <div class="columns features">
                    <div class="column is-4">
                        <div class="card is-shady">
                            <div class="card-image has-text-centered">
                                <i class="fa fa-paw"></i>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h4>View posts from other dog owners </h4>
                                    <p>It can be hard finding a place for your dogs to socialize with other dogs. Find out what other dog owners are talking about and meet new friends to introduce to your dog.</p>
                                    <p><a href="#">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="card is-shady">
                            <div class="card-image has-text-centered">
                                <i class="fa fa-empire"></i>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h4>Share photos of your buddy</h4>
                                    <p> Ruffhouse lets you share pictures of your dogs along with your thoughts. Introduce your dog to others and share your moments with a supportive community of likeminded people.</p>
                                    <p><a href="#">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="card is-shady">
                            <div class="card-image has-text-centered">
                                <i class="fa fa-apple"></i>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h4> Create an account for full access now</h4>
                                    <p>Create an account with your email to get access to this exclusive community! All of your posts are private to the community and only other users will be able to see them. </p>
                                    <p><a href="#">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="content has-text-centered">
                        <p>
                            <a class="icon" href="https://github.com/BulmaTemplates/bulma-templates">
                                <i class="fa fa-github"></i>
                            </a>
                        </p>
                        <div class="control level-item">
                            <a href="https://github.com/BulmaTemplates/bulma-templates">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Bulma Templates</span>
                                    <span class="tag is-info">MIT license</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <script src="../js/bulma.js"></script>
            </footer>
        </body>
    </html>
</body>

<%- include('../partials/footer') %>

</html>