<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Ruff</title>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <section class="hero is-fullheight">
    <div class="hero-body container">
      <div class="">
        <h1 class="title has-text-white">
          Welcome to Ruff
        </h1>
        <!-- <button class="button is-primary is-rounded">Start Exploring</button> -->
        <a href="/dashboard" class="button is-primary is-rounded">Start Exploring
        </a>
      </div>
  </section>
  <!-- CS5356 TODO #1 Add your landing page here -->

</body>

<%- include('../partials/footer') %>

</html>