<!DOCTYPE html>
<html lang="en">

<head>
<!--%- include('../partials/head') %>
    <-- Include any custom css classes that you want available on this page here -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ruffhouse</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
    <style>

    </style>
</head>

<body>
  <header>
    <!--%- include('../partials/nav') %-->
  </header>

 
  <!-- CS5356 TODO #1 Add your landing page here -->
      <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                          <!-- AP TODO fix logo link... -->
                            <img src="../../static/rh_logo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <!--span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Examples</span>
                                </a>
                            </span>
                            <--span class="navbar-item">
                                <a class="button is-white is-outlined" href="/sign-up">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Sign Up</span>
                                </a>
                            </span-->
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/sign-up">
                                    <!--span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span-->
                                    <!-- AP TODO connect to sign in correctly...... -->
                                    <span>Sign Up</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/sign-in">
                                    <!--span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span-->
                                    <!-- AP TODO connect to sign in correctly...... -->
                                    <span>Sign In</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>
            
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Ruffhouse: more dogs than your dog can handle!
                        </h1>
                        <h2 class="subtitle">
                            Ruffhouse is the leading social media platform for dogs. Create an account to share and view dog content!
                        </h2>

                    </div>
                </div>
            </div>
            <img alt="hero-bg" class="hero-background is-transparent" src="../../static/hero-bg.jpg" />

    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

<%- include('../partials/footer') %>

</html>