<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero is-danger is-medium">
    <div class="hero-body has-text-centered">
      <p class="title is-size-1 is-capitalized">
          Ruffhouse
      </p>
      <p class="subtitle is-size-4 has-text-weight-light">
        No other social media like Ruffhouse can bring you the perfect dog socialization community. 
        Meet thousands of other cute dog owners, post and share lovely pet photos, and find an opportunity to let your
        dogs meet "in-dog"!
      </p>
    </div>
  </section>

  <section class="section is-medium has-background-lighter">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <div class="m-1">
              <figure class="image is-96x96">
                  <img  src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png">
              </figure>
            </div>
            <p class="heading">Users</p>
            <p class="title">19,685</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <div class="m-1">
              <figure class="image is-96x96">
                  <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/post-it-icon.png">
              </figure>
            </div>
            <p class="heading">Posts</p>
            <p class="title">143K</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <div class="m-1">
              <figure class="image is-96x96">
                  <img src="https://icon-library.com/images/icon-message/icon-message-18.jpg">
              </figure>
            </div>
            <p class="heading">Comments</p>
            <p class="title">428K</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <div class="m-1">
              <figure class="image is-96x96">
                  <img src="https://www.iconpacks.net/icons/2/free-instagram-like-icon-3507-thumb.png">
              </figure>
            </div>
            <p class="heading">Likes</p>
            <p class="title">891K</p>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <section class="section has-text-centered has-background-light">
    <div class="columns">
        <div class="column">
            <div class="card has-background-lighter">
                <div class="card-image has-text-centered">
                    
                      <img class="mt-6" src="https://static.wixstatic.com/media/nsplsh_6e6771796f324159596e45~mv2_d_5184_3456_s_4_2.jpg/v1/fill/w_1000,h_667,al_c,q_90,usm_0.66_1.00_0.01/nsplsh_6e6771796f324159596e45~mv2_d_5184_3456_s_4_2.jpg">
                </div>
                <div class="card-content">
                    <div class="content">
                      <h3>Inclusive Community</h3>
                      <p>
                        Ruffhouse community welcomes everyone who is keen on dogs to join! Even if you do not own your 
                        own dogs, you can find enormous fun just scanning over the stream of new dog pictures that 
                        our users share every day!
                      </p>
                    </div>
                  </div>
              </div>
        </div>
        <div class="column">
          <div class="card is-shady has-background-lighter">
            <div class="card-image has-text-centered ">
                
                  <img class="mt-6" src="https://www.cesarsway.com/wp-content/uploads/2017/05/Have-you-posted-about-your-dog-today.jpg">
            </div>
            <div class="card-content">
                <div class="content">
                  <h3>Share your Post</h3>
                  <p>
                    Ruffhouse provides you with a mature social media platform where you can easily create your own account 
                    and begin to share all your cute dog's pictures with just a few click.
                  </p>
                </div>
              </div>
          </div>
        </div>
        <div class="column">
          <div class="card has-background-lighter">
              <div class="card-image has-text-centered">
                  
                    <img class="mt-6" src="https://www.paidmembershipspro.com/wp-content/uploads/2016/06/signup.png" alt="Logo">
              </div>
              <div class="card-content">
                  <div class="content">
                    <h3>Sign Up Now!</h3>
                    <p>
                      Go to the top right corner and sign up today!
                    </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </section>

  

  

</body>

<%- include('../partials/footer') %>

</html>