<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>

    </style>
</head>

<body>
  <header>    
  </header>
  <!-- CS5356 TODO #1 Add your landing page here -->
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <%- include('../partials/nav') %> 
      <hr>
    </div>
  </section>
  <section class="hero is-small is-primary">
    <div class="hero-body">
      &ensp;
      <p class="title">
        Ruffhouse
      </p>
      <p class="subtitle">
        Zhengfei Xiang, zx73
      </p>
      &ensp;
      <figure class="image is-2by1">
        <img src="/static/index-main.jpeg">
      </figure>
    </div>

  </section>
  <section class="hero is-primary is-small">
    <div class="hero-body">
      &ensp;

    </div>
  </section>


  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="title">Playground For Dogs.</p>
            </article>
            <article class="tile is-child notification is-warning">
              <p class="title">We are a caring community</p>
              <p class="subtitle">for both human and dogs</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
              <p class="title">We Want You!🐶</p>
              <p class="subtitle">come and join our community today</p>
              <figure class="image is-1by1">
                <img src="/static/dog.gif">
              </figure>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <p class="title">About Us</p>
            &ensp;
            <p class="subtitle">Privacy Policy | Contact | Help Center | Terms</p>
            <div class="content">
              <!-- Content -->
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-success">
          <div class="content">
            <p class="title">Do you know...</p>
            <p class="subtitle">Dogs can benefit a lot from socializing with other dogs, but it can be hard finding a place for them to do that.</p>
            <figure class="image is-5by4">
              <img src="/static/index-dog-head.png">
            </figure>
            <div class="content">
              <!-- Content -->
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>

</body>

<%- include('../partials/footer') %>

</html>