<!DOCTYPE html>
<html lang="en" class="has-background-dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rufflehouse</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" >
</head>
<body>
    <div id="leaderboard" class="container">
        <!-- scores will be inserted by the script here -->
    </div>
    <button onclick="randomize()">Randomize</button>
    <script>
            let scores = [
                {name: "Player 1", score: 300},
                {name: "Player 2", score: 370},
                {name: "Player 3", score: 500},
                {name: "Player 4", score: 430},
                {name: "Player 5", score: 340},
            ];

            function updateLeaderboardView() {
                let leaderboard = document.getElementById("leaderboard");
                leaderboard.innerHTML = "";

                scores.sort(function(a, b){ return b.score - a.score  });
                let elements = []; // we'll need created elements to update colors later on
                // create elements for each player
                for(let i=0; i<scores.length; i++) {
                    let name = document.createElement("div");
                    let score = document.createElement("div");
                    name.classList.add("name");
                    score.classList.add("score");
                    name.innerText = scores[i].name;
                    score.innerText = scores[i].score;

                    let scoreRow = document.createElement("div");
                    scoreRow.classList.add("row");
                    scoreRow.appendChild(name);
                    scoreRow.appendChild(score);
                    leaderboard.appendChild(scoreRow);

                    elements.push(scoreRow);

                }

                let colors = ["gold", "silver", "#cd7f32"];
                for(let i=0; i < 3; i++) {
                    elements[i].style.color = colors[i];
                }
            }

            updateLeaderboardView();
            function randomize() {
                for(var i=0; i<scores.length; i++) {
                    scores[i].score = Math.floor(Math.random() * (600 - 300 + 1)) + 300;
                }
                // when your data changes, call updateLeaderboardView
                updateLeaderboardView();
            }




    </script>

</body>


<!-- 
<body>
<header>
  <%- include('../partials/nav') %>
  </header>           
  <section class = "section">
    <div class = "container has-text-centered">
      
       <span class = "title">
           Ruffle House Meet Dogs and not Cats
       </span>
       <br>
       <br>

   <section class = "hero is-warning is-bold">
    <div class = "hero-body">
       <div class = "container has-text-centered">
          <h1 class = "title">
             CS 5356 Landing Page Assignment 1 
          </h1>
          <h2 class = "subtitle">
             James An 
          </h2>
       </div>
    </div>
 </section>
</div>
</section>

</body> -->
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-performance-compat.js"></script>

<script>
    window.onload = () => {
      const firebaseConfig = {
        apiKey: "AIzaSyB_wt1W4TNsLqe7lPifAjMlzMAQsOQvytw",
    authDomain: "cs-5356-c641b.firebaseapp.com",
    projectId: "cs-5356-c641b",
    storageBucket: "cs-5356-c641b.appspot.com",
    messagingSenderId: "801240318543",  
    appId: "1:801240318543:web:84cd6deb69ca1eff70203a"    };
      const app = firebase.initializeApp(firebaseConfig);
      const fire_pref = firebase.performance();
      }
  </script>
<%- include('../partials/footer') %>

</html>
