<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <!-- <div id="outer_box" class="box">

        <div class="columns">
            Usernames
                <div id="name_column" class="column">
                    <h2>
                        name
                    </h2>
                </div>
                <div id="score_column" class="columm">
                    <h2>
                        score
                    </h2>
                </div>
        </div>
	</div> -->

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr id="tr1">
                <td id="tr1td1">tr1td1</td>
                <td id="tr1td2">tr1td2</td>
            </tr>
            <tr id="tr2">
                <td id="tr2td1">tr2td1</td>
                <td id="tr2td2">tr2td2</td>
            </tr>
            <tr id="tr3">
                <td id="tr3td1">tr3td1</td>
                <td id="tr3td2">tr3td2</td>
            </tr>
        </tbody>
    </table>

    <script>

  
        async function fetchPlayersJSON() {
            const response = await fetch('/get');
            const players = await response.json();
            return players;
        }
        fetchPlayersJSON().then(players => {
            console.log(players) //grab json and put stuff in here

            for (let i = 0; i < 3; i++) {
                // array.push(players[i])
                document.write (players[i]["score"]+ "  ") 
                // document.getElementById("trtd1").innerHTML = players[i]["username"]
            }




            document.write (players[0]["username"])
            document.write (players[0]["score"])

            console.log(players[0]["username"])
            
            // for (let i = 0; i <= players.length; i++) {
            //     console.log(players[i]["score"])
            // }
     

        });

 

    </script>



</body>
