<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<script>
    window.onload = () => {
      const firebaseConfig = {
        apiKey: "AIzaSyB_wt1W4TNsLqe7lPifAjMlzMAQsOQvytw",
    authDomain: "cs-5356-c641b.firebaseapp.com",
    projectId: "cs-5356-c641b",
    storageBucket: "cs-5356-c641b.appspot.com",
    messagingSenderId: "801240318543",  
    appId: "1:801240318543:web:84cd6deb69ca1eff70203a"    };
      const app = firebase.initializeApp(firebaseConfig);
      const fire_pref = firebase.performance();
      }
  </script>
<body  background="https://th.bing.com/th/id/OIP.-TZz-JNKElwOL7xEjDXDUgHaEr?w=310&h=195&c=7&r=0&o=5&dpr=2.5&pid=1.7">

    <div class="columns">
        <div class="column is-one-third"></div>
        <div class="column is-one-third">
            <div>
                <table class="table is-striped is-bordered is-size-2 has-text-weight-bold">
                    <thead>
                        <tr>
                            <th style="text-shadow: -1px -1px black; size:10px">Username</th>
                            <th style="text-shadow: -1px -1px black; size:10px">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="tr1" , style="background-color: rgb(205, 219, 237)">
                            <td id="tr1td1" , style="color: gold; text-shadow: -1px -1px black; size:10px">tr1td1
                            </td>
                            <td id="tr1td2" , style="color: gold; text-shadow: -1px -1px black; size:10px">tr1td2
                            </td>
                        </tr>
                        <tr id="tr2" , style="background-color: rgb(205, 219, 237)">
                            <td id="tr2td1" , style="color: silver; text-shadow: -1px -1px black; size:10px">tr2td1
                            </td>
                            <td id="tr2td2" , style="color: silver; text-shadow: -1px -1px black; size:10px">tr2td2
                            </td>
                        </tr>
                        <tr id="tr3" , style="background-color: rgb(205, 219, 237)">
                            <td id="tr3td1" , style="color: rgb(75, 48, 2); text-shadow: -1px -1px black; size:10px">
                                tr3td1</td>
                            <td id="tr3td2" , style="color: rgb(75, 48, 2); text-shadow: -1px -1px black; size:10px">
                                tr3td2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column is-one-third"></div>
    </div>





    <script>

        async function fetchPlayersJSON() {
            const response = await fetch('/get');
            const players = await response.json();
            return players;
        }
        fetchPlayersJSON().then(players => {
            let player_array = [players][0];
            let player_name = []
            let player_score = []
            for (let i = 0; i < 3; i++) {
                player_name.push(player_array[i].username)
                player_score.push(player_array[i].score)

            }


            // fill in the leaderboard
            document.getElementById("tr1td1").innerHTML = player_name[0]
            document.getElementById("tr1td2").innerHTML = player_score[0]
            document.getElementById("tr2td1").innerHTML = player_name[1]
            document.getElementById("tr2td2").innerHTML = player_score[1]
            document.getElementById("tr3td1").innerHTML = player_name[2]
            document.getElementById("tr3td2").innerHTML = player_score[2]



        });


    </script>




</body>
