<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <form id="login-form">
    <input type="text" name="login" placeholder="Your user name" />
    <input type="password" name="password" id="password" />
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
  </form>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  
  window.onload = () => {
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "firebase/app";
    import { getAnalytics } from "firebase/analytics";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyB6NQ2iwHlo2A2JGQDDfA9nCCDPL-fOx28",
      authDomain: "cs5356-milestone1-3a24d.firebaseapp.com",
      projectId: "cs5356-milestone1-3a24d",
      storageBucket: "cs5356-milestone1-3a24d.appspot.com",
      messagingSenderId: "290958610555",
      appId: "1:290958610555:web:1f313a09947469c2ad52de",
      measurementId: "G-WEWB829XFN"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    // const firebaseConfig = {
    //   apiKey: "AIzaSyB6NQ2iwHlo2A2JGQDDfA9nCCDPL-fOx28",
    //   authDomain: "cs5356-milestone1-3a24d.firebaseapp.com",
    //   projectId: "cs5356-milestone1-3a24d",
    //   storageBucket: "cs5356-milestone1-3a24d.appspot.com",
    //   messagingSenderId: "290958610555",
    //   appId: "1:290958610555:web:1f313a09947469c2ad52de",
    //   measurementId: "G-WEWB829XFN"
    // };

    // const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        return false;
      });
  };
</script>

</html>

