<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign up for a new account or <a href="/sign-in">click here to sign in</a>.
    <form id="login-form" method="POST">
      <div>
        <input type="text" name="login" id="login" placeholder="Username"/>
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="Password"/>
      </div>
      <button>Sign up</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
    window.onload = () => {
      console.log('Running onload')
      const firebaseConfig = {
        apiKey: "AIzaSyC59KYBvRt0qbOtKREwMk_CeMh9qiQLD3g",
        authDomain: "ruffhouse-628a1.firebaseapp.com",
        projectId: "ruffhouse-628a1",
        storageBucket: "ruffhouse-628a1.appspot.com",
        messagingSenderId: "276736047845",
        appId: "1:276736047845:web:5068f6468cb0d9ae75320c"
      };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault(); // prevents the browser from handling the submission
        const login = event.target.login.value;
        const password = event.target.password.value;
        firebase
        console.log("Submit hit!");

        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            const user = userCredential.user;
            return user.getIdToken()
          }).then(async idToken => {
          await fetch('/sessionLogin', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ idToken: idToken})
          }).then(() => console.log('Success!'))
        }).then(() => {
          window.location.assign('/dashboard');
          })
          .catch((error) => {
            console.error(error)
          });
        return false;
      });
  };
</script>

</html>