<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyBGJ2lHJVFJbx3ZkIrVdzK-Ls0rTfJ55J8",
      authDomain: "building-24f8f.firebaseapp.com",
      projectId: "building-24f8f",
      storageBucket: "building-24f8f.appspot.com",
      messagingSenderId: "904907594090",
      appId: "1:904907594090:web:e4b6772b8e34a6f7982d13",
      measurementId: "G-R6YSSLXB1F"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        firebase.auth().createUserWithEmailAndPassword(username, password)
        .then((userCredential) => {
          // Signed in 
          userCredential.user.getIDToken().then(function(idToken){
              // set cookie to store the idtoken
              fetch('/sessionLogin',{
                  method: 'POST', // want to make a change to server
                  body: idToken
              }).then(function(response){ debugger })
              .catch(function(err){console.log(err)})
          })

          var user = userCredential.user;
          console.log(username)
          window.location.href = "/dashboard";
          // ...
        })
        .catch((error) => {
          var errorCode = error.code;
          var errorMessage = error.message;
          console.log(errorMessage);
          // ..
        });
        return false;
      });
    
  };
</script>

</html>