<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>

  <form id="login-form" class="box mx-6 my-6">
    <div class = "field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" name="email" placeholder="Your email, e.g., example@gmail.com" />
      </div>
    </div>

    <div class = "field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" id="password" placeholder="********"/>
      </div>
    </div>
    
    <button class="button is-primary">
      Log in
    </button>
    <div id="login-error"></div>

    <div class="content mt-6">
      <p style="text-align:center">
        <strong>Don't have an account yet?</strong> <a href="/sign-up">Sign up now!</a>
      </p>
    </div>
  
  </form>
  
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyBmAqAv2iC_uN0p2qlLVEvz65V-S6gvepk",
      authDomain: "ruffhouse-4fafa.firebaseapp.com",
      projectId: "ruffhouse-4fafa",
      storageBucket: "ruffhouse-4fafa.appspot.com",
      messagingSenderId: "341962468194",
      appId: "1:341962468194:web:6461d34cb6aa90108bda3b"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const email = event.target.email.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        app.auth().signInWithEmailAndPassword(email, password)
          .then((userCredential) => {
            // Signed in
            const user = userCredential.user;
            
            user.getIdToken().then((idToken) => {
                fetch("/sessionLogin", {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({idToken})
                }).then(() => {
                  window.location.href = "/dashboard"
                }).catch((error) => {
                  const errorCode = error.code;
                  const errorMessage = error.message;
                  alert("<" + errorCode + "> " + errorMessage);
                });
              })

          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            if(errorCode == "auth/user-not-found"){
              alert("User not found");
            }
            else if(errorCode == "auth/wrong-password"){
              alert("Wrong password");
            }
            else{
              alert("<" + errorCode + "> " + errorMessage);
            }
          });

        return false;
      });
  };
</script>

</html>