<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyBdbuMDHC_A2SVfQtJJi3CKRsX0xe9GYNQ",
      authDomain: "startup-system-hw1-89969.firebaseapp.com",
      projectId: "startup-system-hw1-89969",
      storageBucket: "startup-system-hw1-89969.appspot.com",
      messagingSenderId: "816354160786",
      appId: "1:816354160786:web:5875b987e5e070df88f64b",
      measurementId: "G-ZG1JVFY42F"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        app.auth().createUserWithEmailAndPassword(login, password)
          .then(userCredential => userCredential.user.getIdToken())
          .then((idToken) => {
            fetch('/sessionLogin', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                idToken,
              })
            }).then((response) => {
              window.location.assign('/dashboard');
            }).catch((error) => {
              console.log(error)
              const loginErrorElem = document.getElementById("login-error");
              loginErrorElem.innerHTML = error.message;
              loginErrorElem.style.display = 'block';
            })
          })
          .catch((error) => {
            console.log(error)
            const errorCode = error.code;
            const errorMessage = error.message;
            const loginErrorElem = document.getElementById("login-error");
            loginErrorElem.innerHTML = errorMessage;
            loginErrorElem.style.display = 'block';
          });
        return false;
      });
  };
</script>

</html>