<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <form id="login-form">
    <input type="text" name="login" placeholder="Your user name" />
    <input type="password" name="password" id="password" />
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
  </form>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      apiKey: "AIzaSyDm_WeG5O8ryM98KyiWiv1mGvGOW_cS0-U",
      authDomain: "ruffhouse-9190f.firebaseapp.com",
      projectId: "ruffhouse-9190f",
      storageBucket: "ruffhouse-9190f.appspot.com",
      messagingSenderId: "10207850879",
      appId: "1:10207850879:web:af83bdae64748252122a4a",
      measurementId: "G-KB3RT3K605"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        app.auth().signInWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;
            user.getIdToken().then(function(idToken) {
              fetch("/sessionLogin", {
                method: "POST",
                body: idToken
              }).then(function(response) {
                debugger
                // console.log("success!")
              }).catch(function(err) { debugger })
            })
            // ...
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
          });

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        return false;
      });
  };
</script>

</html>