<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <h1 class = "title">Please sign in</h1>
  <div class="container">
    Sign In or <a href="/sign-up">click here to sign up</a>
    </div>
  </div>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <form id="login-form">
    <input type="text" name="login" placeholder="Your user name" />
    <input type="password" name="password" id="password" />
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
  </form>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyD69u8jHOoTE0-FEH8j_oExo1QnhcjVAmY",
      authDomain: "milestone-1-360bd.firebaseapp.com",
      projectId: "milestone-1-360bd",
      storageBucket: "milestone-1-360bd.appspot.com",
      messagingSenderId: "230171200710",
      appId: "1:230171200710:web:f22f1d7840db7a7ebd1bc7",
      measurementId: "G-QCJ6DMDB40"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        const auth = firebase.auth();

        auth.signInWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;

            user.getIdToken().then((idToken) => {
              fetch('/sessionLogin', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ 
                idToken
                })
              }).then(() => {
              window.location.assign('/dashboard')
                })
            })
          })
        return false;
        });
      };
</script>
        
</html>