<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body style="background-color:black;>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    <img src="https://michiganfuture.org/wp-content/uploads/2019/11/cornell-tech-logo-optimized.png" width="325px"/>
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <div class="field">
        <div class="control">
            <input class="input is-medium is-rounded" name="login" type="email" placeholder="hello@example.com"
                   autocomplete="username" required/>
        </div>
    <div class="field">
        <div class="control">
            <input class="input is-medium is-rounded" name="password" type="password" placeholder="**********"
                   autocomplete="current-password" required/>
        </div>
    </div>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/dashboard">
                                    <span>Dashboard</span>
                                </a>
                            </span>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script type="module">
  window.onload = () => {
    console.log('Running onload')
        const firebaseConfig = {
          apiKey: "AIzaSyD-ajVdaBp6vkU1wSEr7iNVS3AB0rO1e8Q",
          authDomain: "milestone1-cs5356.firebaseapp.com",
          projectId: "milestone1-cs5356",
          storageBucket: "milestone1-cs5356.appspot.com",
          messagingSenderId: "135794064009",
          appId: "1:135794064009:web:481be346290c826ba52458"
        };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        console.log("Form dadi")
        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        app.auth().createUserWithEmailAndPassword(login, password)
                    .then((userCredential) => {
                        // Signed in
                        const user = userCredential.user;
                        console.log("SUCCESS")
                        window.location.assign('/dashboard');
                    })
                    .catch((error) => {
                        const errorCode = error.code;
                        const errorMessage = error.message;
                        console.log("Fail")
                    });
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard


        return false;
      });
  };
</script>

</html>