<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>

  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-one-third">
        <form id="login-form">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input is-rounded" type="text" placeholder="Enter your email here" name="email"
                style="text-align:center;">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input is-rounded" type="text" placeholder="Enter your password here" name="password"
                id="password" style="text-align:center;">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary">
                Sign In
              </button>
            </div>

          </div>

          <div id="login-error">
          </div>

        </form>

      </div>

    </div>
    <div class="block">
      First time here? <a href="/sign-up"> Sign up </a> for a new account!
    </div>
  </div>
  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyARdGW65Cb9s3GKmD41l3O-x4xiVb3pvHg",
      authDomain: "ruffhouse---bss-milestone1.firebaseapp.com",
      projectId: "ruffhouse---bss-milestone1",
      storageBucket: "ruffhouse---bss-milestone1.appspot.com",
      messagingSenderId: "629509702059",
      appId: "1:629509702059:web:8c16dde238f2d7c0e352ee"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const email = event.target.email.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        firebase.auth().signInWithEmailAndPassword(email, password)
          .then((userCredential) => {
            // Signed in
            var user = userCredential.user;
            
            user.getIdToken()
            .then( function(idToken) {
              fetch('/sessionLogin',{
                method:'POST',
                headers:{
                  'Content-Type':'application/json'
                },
                body: JSON.stringify({
                  idToken: idToken,
                  plan: 'free'
                })
              })
              .then(function(response){
                window.location.assign('/dashboard')
              })
              .catch(err => {console.log(err)})
            } )
            .catch(function(err) {
              console.log(err);
            })

            // ...
          })
          .catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
          });

      });
  };
</script>

</html>