<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <form id="login-form">
    <input type="text" name="login" placeholder="Your user name" />
    <input type="password" name="password" id="password" />
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
  </form>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyCzqAolVTWnaRkNm-0pPPJikRnWk6z6NGY",
      authDomain: "dogfriends-4a67a.firebaseapp.com",
      projectId: "dogfriends-4a67a",
      storageBucket: "dogfriends-4a67a.appspot.com",
      messagingSenderId: "1083199046331",
      appId: "1:1083199046331:web:d89026ce209157421edf9e",
      measurementId: "G-D5EZPG2Z8F"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        firebase.auth().signInWithEmailAndPassword(login, password)
        .then((userCredential) => {
          // Signed in
          console.log(userCredential);
          var user = userCredential.user;
          window.location.href = '/dashboard';
          // ...
        })
        .catch((error) => {
          var errorCode = error.code;
          var errorMessage = error.message;
          console.log(message);
        });
      });
  }
</script>

</html>
