<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <section class="section">
    <div class="container">
      <div class="columns">

        <form id="login-form">
          <lable for="username">Username</lable>
          <input type="text" name="username" placeholder="Your user name" />
          <lable for="Password">Password</lable>
          <input required type="password" name="password" id="password" />
          <button>
            Sign In
          </button>
          <div id="login-error">
          </div>
          </div>
        </form>

      </div>
    </div>
  </section>

  
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyBGJ2lHJVFJbx3ZkIrVdzK-Ls0rTfJ55J8",
      authDomain: "building-24f8f.firebaseapp.com",
      projectId: "building-24f8f",
      storageBucket: "building-24f8f.appspot.com",
      messagingSenderId: "904907594090",
      appId: "1:904907594090:web:e4b6772b8e34a6f7982d13",
      measurementId: "G-R6YSSLXB1F"
    };

    const app = firebase.initializeApp(firebaseConfig);
    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
    const auth = firebase.auth();

    const loginForm = document.querySelector('form');

    loginForm
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const username = event.target.username.value;
        const password = event.target.password.value;
        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        firebase.auth().signInWithEmailAndPassword(username, password)
        .then((response) => {
          // Signed in
          // debugger
          response.user.getIdToken().then(function(idToken){
              // set cookie to store the idtoken
              fetch('/sessionLogin',{
                  method: 'POST', // want to make a change to server
                  headers: {
                    'Content-Type':'application/json' //automatically use json parson
                  },
                  body: JSON.stringify({
                    idToken: idToken,
                    plan: 'free'
                  }) // turning into stringify json
              }).then(function (responseBody){
                // window.location.assign('/dashboard')
                window.location.href = '/dashboard'
              })
              .catch(function(err){

                console.log(err)
              })

          }).catch(function(err){
            console.log(err)})

          var user = response.user;
          console.log(username)
          debugger
          // window.location.href = "/dashboard";
          // ...
        })
        .catch((error) => {
          debugger
          var errorCode = error.code;
          var errorMessage = error.message;
          console.log(errorMessage)
        });
        debugger
        return false;
      });
  };
</script>

</html>