<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./static/css/customized.css">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <section class="hero is-fullheight has-background-black">
        <header>
            <%- include('../partials/nav') %>
        </header>
        <div class="hero-body">
            <div class="container" style="max-width: 450px">
                <div class="welcome">
                    Welcome Back!
                </div>
                <form>
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" name='login' placeholder="Text input"
                                value="bulma">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" name="password" placeholder="Email input"
                                value="hello@">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <form id="login-form">
        <!--    <input type="text" name="login" placeholder="Your user name" />-->
        <!--    <input type="password" name="password" id="password" />-->

        <button>
            Sign In
        </button>
        <div id="login-error">

        </div>
        </div>
    </form>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
    window.onload = () => {
        // CS5356 TODO #2
        const firebaseConfig = {
            apiKey: "AIzaSyAd5EVip-eDS1xZHSW-ajpPNzsBEpnSbbg",
            authDomain: "cs-5356-assignment.firebaseapp.com",
            projectId: "cs-5356-assignment",
            storageBucket: "cs-5356-assignment.appspot.com",
            messagingSenderId: "198332129631",
            appId: "1:198332129631:web:5d21197f2fb59d3bfbd6ea",
            measurementId: "G-NNKDXHLGRV"
        };

        const app = firebase.initializeApp(firebaseConfig);

        app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        document
            .getElementById("login-form")
            .addEventListener("submit", (event) => {
                event.preventDefault();
                const login = event.target.login.value;
                const password = event.target.password.value;

                return false;
            })
    };
</script>

</html>