<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyDOZkL0WBwdGhvTciylEwad9JEm5o3_wqw",
      authDomain: "ruffhouse-f6436.firebaseapp.com",
      projectId: "ruffhouse-f6436",
      storageBucket: "ruffhouse-f6436.appspot.com",
      messagingSenderId: "970810370625",
      appId: "1:970810370625:web:9d2b3ba67c866e4d5bb4c0",
      measurementId: "G-5SEDQ3J583"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in
            userCredential.user.getIdToken()
              .then((idToken) => {
                fetch('/sessionLogin', {
                  method: 'POST',
                  headers: {'Content-Type': 'application/json'},
                  body: JSON.stringify({idToken})
                }).then((userCredential) => {
                  window.location.href = '/dashboard';
                }).catch((error) => {
                  console.log(error);
                });
              })
              .catch((error) => {
                console.log(error);
              });
          })
          .catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
          });

      });
  };
</script>

</html>