<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    <h3 class="title is-3">Sign Up Page</h3>
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <br><br>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="email" name="login" />
      <br>
      <label>Password</label>
      <input type="password" name="password" />
      <br><br>
      <button class = "button is-info">Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <br>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyCvKAKCFcWKgAbZsokUY-wSYWQU98ZkkGw",
      authDomain: "cs5356-milestone-1-ruffhouse.firebaseapp.com",
      projectId: "cs5356-milestone-1-ruffhouse",
      storageBucket: "cs5356-milestone-1-ruffhouse.appspot.com",
      messagingSenderId: "467947040042",
      appId: "1:467947040042:web:a316352f64e13fa8c18253",
      measurementId: "G-WFDX2S4QFE"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3

        // Create a new user using the Firebase SDK for Web
        app.auth().createUserWithEmailAndPassword(login, password)
        .then((userCredential) => {
            var user = userCredential.user;
            user.getIdToken().then((idToken) => {  // Get the users ID token
              // Start a new session with the users ID token
              fetch('/sessionLogin', {
                method:'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({idToken})
              }).then(()=>{
                window.location.href = '/dashboard' // Redirect the user to the /dashboard
              })
              method: 'POST'
            })
          }).catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
          });

        return false;
      });
  };
</script>

</html>