<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: false }) %>
  </header>

  <!-- <div class="container"> -->
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">

            <form id="login-form" class="box">
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="e.g. blah@gmail.com" class="input" name="login" required>
                  <span class="icon is-small is-left">
                    <i class="material-icons">email</i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input" name="password" required>
                  <span class="icon is-small is-left">
                    <i class="material-icons">lock</i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button class="button is-success">
                  Sign Up
                </button>
              </div>
            </form>
            <!-- <p><a href="/sign-in" style="color: black;"> Or sign in with an existing
                account</a></p> -->
          </div>
        </div>
      </div>
  </section>

  <!-- Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a> -->
  <!-- </div> -->
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyB6NQ2iwHlo2A2JGQDDfA9nCCDPL-fOx28",
      authDomain: "cs5356-milestone1-3a24d.firebaseapp.com",
      projectId: "cs5356-milestone1-3a24d",
      storageBucket: "cs5356-milestone1-3a24d.appspot.com",
      messagingSenderId: "290958610555",
      appId: "1:290958610555:web:1f313a09947469c2ad52de",
      measurementId: "G-WEWB829XFN"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            var user = userCredential.user;
            return user.getIdToken().then((idToken) => {
              return postUserId("/sessionLogin", idToken);
            }).catch((error) => {
              console.log(error.code, error.message);
            }).then(() => {
              window.location.assign("/dashboard");
            }).catch((error) => {
              let errorCode = error.code;
              let errorMessage = error.message;
            })
            return false;
          });
      })
  }

</script>

</html>