<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <header>
    <%- include('../partials/nav',{ hideSignIn: true }) %>
  </header>

  <section class="section">
    <div class="container">
      Sign Up for a new account or click <a href="/sign-in">here</a> to sign in with an existing account
      <form id="login-form">
        <label>Username</label>
        <input id="login" type="text" name="username" placeholder="Your user name" />
        <label>Password</label>
        <input type="password" name="password" />
        <button>Log in</button>
      </form>
      <div id="login-error" style="display: none;">
      </div>
      <a href="/dashboard">Dashboard</a>
    </div>
  </section>


</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyBGJ2lHJVFJbx3ZkIrVdzK-Ls0rTfJ55J8",
      authDomain: "building-24f8f.firebaseapp.com",
      projectId: "building-24f8f",
      storageBucket: "building-24f8f.appspot.com",
      messagingSenderId: "904907594090",
      appId: "1:904907594090:web:e4b6772b8e34a6f7982d13",
      measurementId: "G-R6YSSLXB1F"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    const loginForm = document.querySelector('form');

    // submit the login form
    // Done
    loginForm
      .addEventListener("submit", (event) => {
        event.preventDefault();
        // prevent reload
        const username = event.target.username.value;
        const password = event.target.password.value;
        // Done
        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        firebase.auth().createUserWithEmailAndPassword(username, password)
          .then((response) => {
            response.user.getIdToken()
              .then(function (idToken) {

                // set cookie to store the idtoken
                fetch('/sessionLogin', {
                  method: 'POST', // want to make a change to server
                  headers: {
                    'Content-Type': 'application/json' //automatically use json parson
                  },
                  body: JSON.stringify({
                    idToken: idToken,
                    plan: 'free'
                  }) // turning into stringify json
                }).then(function (responseBody) {
                  // window.location.assign('/dashboard')
                  window.location.href = '/dashboard'
                })
                  .catch(function (err) {
                    console.log(err)
                  })
              }).catch(function (err) {
                console.log(err)
              })

            var user = response.user;
          })
          .catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
            console.log(errorMessage)
          });
      });


  };
</script>

</html>