<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyB6NQ2iwHlo2A2JGQDDfA9nCCDPL-fOx28",
      authDomain: "cs5356-milestone1-3a24d.firebaseapp.com",
      projectId: "cs5356-milestone1-3a24d",
      storageBucket: "cs5356-milestone1-3a24d.appspot.com",
      messagingSenderId: "290958610555",
      appId: "1:290958610555:web:1f313a09947469c2ad52de",
      measurementId: "G-WEWB829XFN"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            //console.log('userCredential',userCredential)
            var user = userCredential.user;
            return user.getIdToken().then((idToken) => {
              return postUserId("/sessionLogin", idToken);
            }).catch((error) => {
              console.log(error.code, error.message);
            }).then(() => {
              window.location.assign("/dashboard");
            }).catch((error) => {
              let errorCode = error.code;
              let errorMessage = error.message;
            })
            return false;
          });
      })
  }

</script>

</html>