<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <form id="login-form">
    <input type="text" name="login" placeholder="Your user name" />
    <input type="password" name="password" id="password" />
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
  </form>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyBu7YI3s81obNYuFUpSNe4Sb-3Mv5eCJI4",
      authDomain: "bss-m1.firebaseapp.com",
      projectId: "bss-m1",
      storageBucket: "bss-m1.appspot.com",
      messagingSenderId: "713963140724",
      appId: "1:713963140724:web:4012443a901b171e9f0321",
      measurementId: "G-5GERCMHFB7"
    };
    //Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const email = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        // When the user signs in with email and password.
        // When the user signs in with email and password.
        app.auth().signInWithEmailAndPassword(email , password).then(userCredential => {
          // Get the user's ID token as it is needed to exchange for a session cookie.
          //console.log("test",userCredential.user.getIdToken())

          //Signed In
          const user = userCredential.user
          //idToken = user.getIdToken()
          
            console.log('User Signed IN : success!')

            userCredential.user.getIdToken().then(function(idToken) {
                fetch('/sessionLogin', {
                method: 'POST',
                headers: {
                'Content-Type':'application/json'
                },
                body: JSON.stringify({idToken}) // add the users ID token here
                })
                .then(function(response){
                  return response.json
                })
                .then(() => {
                  console.log('Going to dashboard!')
                  window.location.href = "/dashboard"
                })
            })
        })
        // .then(() => {
        //   // A page redirect would suffice as the persistence is set to NONE.
        //   //return firebase.auth().signOut();
        //   window.location.href = "/dashboard"
        // });




        

        return false;
      });
  };
</script>

</html>