<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head') %>
    <title>Doges</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body {
    background-image: url("/static/images/doge.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    font-family: "Lato", sans-serif}
  .mySlides {display: none}
  footer {
    bottom: 0px; 
    position: absolute; 
    width: 100%}
  </style>
  </head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

<div style="text-align:center">
  <div style="vertical-align: middle">
  <form id="login-form">
    <input type="text" name="login" placeholder="Your user name" />
    <input type="password" name="password" id="password" />
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
    </body>
  </form>
  </div>
</div>
  </html>
  
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO some progress #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyAwik2DL60NgRf32CI3uPMt50nWpTK7PIk",
      authDomain: "ab2425-cornell-tech.firebaseapp.com",
      projectId: "ab2425-cornell-tech",
      storageBucket: "ab2425-cornell-tech.appspot.com",
      messagingSenderId: "791274938577",
      appId: "1:791274938577:web:4ffdcd0304fd705b44e5f0",
      measurementId: "G-32L9XCDXLE"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        firebase.auth().signInWithEmailAndPassword(login, password).then(user => {
        // Get the user's ID token as it is needed to exchange for a session cookie.
        return user.user.getIdToken().then((idToken) => {
            // Session login endpoint is queried and the session cookie is set.
            // CSRF protection should be taken into account.
            // ...
            fetch('/sessionLogin', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({ idToken })
            }).then(() => {
              window.location.href = '/dashboard'
            })
          })
        })
        return false;
      });
  };
</script>

</html>