<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input id="password" type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script type="module">
  window.onload = () => {
    console.log('Running onload')
        const firebaseConfig = {
          apiKey: "AIzaSyD-ajVdaBp6vkU1wSEr7iNVS3AB0rO1e8Q",
          authDomain: "milestone1-cs5356.firebaseapp.com",
          projectId: "milestone1-cs5356",
          storageBucket: "milestone1-cs5356.appspot.com",
          messagingSenderId: "135794064009",
          appId: "1:135794064009:web:481be346290c826ba52458"
        };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        console.log("Form dadi")
        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        app.auth().createUserWithEmailAndPassword(login, password)
                    .then((userCredential) => {
                        // Signed in
                        const user = userCredential.user;
                        console.log("SUCCESS")
                    })
                    .catch((error) => {
                        const errorCode = error.code;
                        const errorMessage = error.message;
                        console.log("Fail")
                    });
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard


        return false;
      });
  };
</script>

</html>