<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <form id="login-form">
    <input type="text" name="login" placeholder="Email Address" />
    <input type="password" name="password" id="password" placeholder="Password"  />
    <button>
      Sign In
    </button>
    <div class="block">
      Need a new Account? <a href="/sign-up"> Click here </a> to start.
    </div>
    <div id="login-error">

    </div>
  </form>



</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyBFaS1vPut2CGga3qn2KAOUXfz9wFUNJxQ",
      authDomain: "cs5356-milestone-1-15229.firebaseapp.com",
      projectId: "cs5356-milestone-1-15229",
      storageBucket: "cs5356-milestone-1-15229.appspot.com",
      messagingSenderId: "364760847404",
      appId: "1:364760847404:web:93773d3231c888f0c26d89",
      measurementId: "G-J178FJ40WX"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        app.auth().signInWithEmailAndPassword(login, password)
          .then((userCredential) => {
            let user = userCredential.user
            user.getIdToken()
            .then(function(idToken) {
              fetch('/sessionLogin',{
                method:'POST',
                headers:{ 'Content-Type':'application/json' },
                body: JSON.stringify({idToken})
              })
              .then(function(response) {
                if (response.status !== 200) {
                  throw new Error(response.status)
                }
                window.location.assign('/dashboard')
              })
              .catch(function(error) {
                document.getElementById("login-error").innerHTML = error.message;
              })
            })
            .catch(function(error) {
              document.getElementById("login-error").innerHTML = error.message;
            })
          })
          .catch(function(error) {
            document.getElementById("login-error").innerHTML = error.message;
          });
      });
      
  };
</script>

</html>