<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>


  <form id="login-form">
    <input type="text" name="login" placeholder="Your user name" />
    <br><br>
    <input type="password" name="password" id="password" />
    <br><br>
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
  </form>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyCvKAKCFcWKgAbZsokUY-wSYWQU98ZkkGw",
      authDomain: "cs5356-milestone-1-ruffhouse.firebaseapp.com",
      projectId: "cs5356-milestone-1-ruffhouse",
      storageBucket: "cs5356-milestone-1-ruffhouse.appspot.com",
      messagingSenderId: "467947040042",
      appId: "1:467947040042:web:a316352f64e13fa8c18253",
      measurementId: "G-WFDX2S4QFE"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        


        return false;
      });
  };
</script>

</html>