<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Username</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Sign Up</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyCycjD0omSS5aSDtI40oxBIVImchtJ3T9M",
      authDomain: "cs-5356-assignment-1.firebaseapp.com",
      projectId: "cs-5356-assignment-1",
      storageBucket: "cs-5356-assignment-1.appspot.com",
      messagingSenderId: "90554612308",
      appId: "1:90554612308:web:a4c6763c27fade3a36cbc1"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        firebase.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            var user = userCredential.user;
            window.location.assign("/sign-in");  
          })
          .catch((error) => {
            console.log(error)
            console.log('sign up fail');
          });
      });

  };
</script>

</html>