<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>




  <section class="hero is-medium is-white">
    <div class="hero-body">
<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item" >&ensp;</div>
    <div class="level-item" >&ensp;</div>
    <div class="level-item" >&ensp;</div>
    <div class="level-item" >&ensp;</div>
    <div class="level-item" >&ensp;</div>
    <div class="level-item" >&ensp;</div>
    <div class="level-item" >&ensp;</div>
    <div class="level-item" >

<div>
  <p class="title">Please Sign In Here</p>
  &ensp;
  <p class="title">  &ensp; </p>
  <form id="login-form">
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" name = "login" type="email" placeholder="email" >
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-danger" name="password" type="password" >
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light" onclick="window.location.href='./'">Cancel</button>
      </div>
    </div>
  </form>

</div>
    </div>
  </div>
  <div class="level-item" >&ensp;</div>
  <div class="level-item">
    <figure class="image">
      <iframe class="has-ratio" width="480" height="480" src="/static/signin.jpeg" frameborder="0" allowfullscreen></iframe>
  </figure>
</div>

</nav>
    </div>
  </section>


</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyB_jLVol0v3Uhoj2VQ8HgtgPDWX-s6kY9o",
      authDomain: "cs5356milestone1.firebaseapp.com",
      projectId: "cs5356milestone1",
      storageBucket: "cs5356milestone1.appspot.com",
      messagingSenderId: "424980247144",
      appId: "1:424980247144:web:fc7dcc7149f43daf27c1dd",
      measurementId: "G-2C4S26GPYN"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit",  (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        app.auth().signInWithEmailAndPassword(login,password)
          .then((userCredential) => {
            const user = userCredential.user
            user.getIdToken().then((IdToken) => {
              idToken = userCredential.user.getIdToken()
                fetch('/sessionLogin', {
                method:'POST',
                headers:{
                  'Content-Type':'application/json',
                },
                body:JSON.stringify({
                  idToken : IdToken,
                })
              })
              console.log('complete');
              debugger
            }).then((responseBody) =>{

              console.log('test');
              window.location.assign('/dashboard')
            })
          }).catch(function (error){
              var errorCode = error.code;
              var errorMessage = error.message;
            })
        //return false;
      });
  };
</script>

</html>