<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <header>
    <%- include('../partials/nav',{ hideSignIn: true }) %>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col col-md-6 offset-md-3">
    <h2>Create an account</h2>
    <p>Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a></p>
    <form id="login-form">
      <label>Username</label>
      <input id="login" type="text" name="login" placeholder="Your username" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Sign Up</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
      </div>
    </div>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

// import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";

  window.onload = () => {
    console.log('Running onload')

    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
    apiKey: "AIzaSyCIFrqTU3R20-jOkT1JyXhEUDCM_V2JN3E",
    authDomain: "cs5356-milestone-1-jd782.firebaseapp.com",
    projectId: "cs5356-milestone-1-jd782",
    storageBucket: "cs5356-milestone-1-jd782.appspot.com",
    messagingSenderId: "969441945643",
    appId: "1:969441945643:web:5d367ab182084ba9d9a26e",
    measurementId: "G-7DXR04KVMK"
    };

    
    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        
        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Create a new user using the Firebase SDK for Web
            const user = userCredential.user;
            // Get the users ID token
            user.getIdToken().then(idToken => {
              // Start a new session with the users ID token
              fetch('/sessionLogin', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 
                  idToken: idToken,
                  plan: 'free' 
                })
              }).then(() => {
                console.log('success!')
                // Redirect the user to the /dashboard
                window.location.replace("/dashboard")
              })
            });
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            // ..
          });
        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        return false;
    });
  };
</script>

</html>