<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Email</label>
      <input id="email" type="text" name="email" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Sign up</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyBacx5qFa3V-QvODpe2Qp0CNtjgkatcVs8",
      authDomain: "milestone-1-ruffhouse.firebaseapp.com",
      projectId: "milestone-1-ruffhouse",
      storageBucket: "milestone-1-ruffhouse.appspot.com",
      messagingSenderId: "36453483162",
      appId: "1:36453483162:web:e6a5d482d175d7f7b21523",
      measurementId: "G-164EJKEZEE"
    };
    
    // import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
    // const auth = getAuth();
    const app = firebase.initializeApp(firebaseConfig);
    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);


    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        console.log('here')
        event.preventDefault();

        const email = event.target.email.value;
        const password = event.target.password.value;
        

        firebase.auth().createUserWithEmailAndPassword(email, password)
        .then((userCredential) => {
          // Signed in
          const user = userCredential.user;
          console.log(userCredential);
          console.log(userCredential.user.getIdToken());
          user.getIdToken().then((id)=>{
            const data = {
            idToken : id,
           };
           fetch('/sessionLogin', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data),// add the users ID token here
            }).then(() => {
              console.log('success!');
              window.location.href = '/dashboard';
            })
          })
          .catch((error) => {
          const errorCode = error.code;
          console.log(errorCode);
          res.redirect('/login');
        });
        return false;
      })
        .catch((error) => {
          const errorCode = error.code;
          console.log(errorCode);
          res.redirect('/login');
        });
        return false;
      });
  };
</script>

</html>