<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./static/css/customized.css">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <section class="hero is-fullheight has-background-black">
     <header>
         <%- include('../partials/nav') %>
     </header>
     <div class="hero-body">
         <div class="container" style="max-width: 450px">
             <div class="welcome">
                 Welcome You!
             </div>
             <form id="login-form" method="GET">
                 <div class="field">
                     <label class="label">Username</label>
                     <div class="control has-icons-left has-icons-right">
                         <input id='login' type="text" name="login" class="input"
                                placeholder="Email input">
                     </div>
                 </div>
                 <div class="field">
                     <label class="label">Password</label>
                     <div class="control has-icons-left has-icons-right">
                         <input type="password" name="password" class="input"
                                placeholder="Password input">
                     </div>
                 </div>
                 <button type="submit" class="button is-primary" style="margin-top: 10px">Log in</button>
             </form>
         </div>
     </div>
  </section>


  <!-- <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form" method="GET">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div> -->
</body>

<script type="module" src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    console.log("Running onload");
    // CS5356 TODO #2
    const firebaseConfig = {
      apiKey: "AIzaSyAd5EVip-eDS1xZHSW-ajpPNzsBEpnSbbg",
      authDomain: "cs-5356-assignment.firebaseapp.com",
      projectId: "cs-5356-assignment",
      storageBucket: "cs-5356-assignment.appspot.com",
      messagingSenderId: "198332129631",
      appId: "1:198332129631:web:5d21197f2fb59d3bfbd6ea",
      measurementId: "G-NNKDXHLGRV"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);


    document.getElementById('login-form')
      .addEventListener("submit", event => {
        event.preventDefault();
        debugger
        const login = event.target.login.value;
        const password = event.target.password.value;
        firebase.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
              const user = userCredential.user;
              user.getIdToken().then((idToken) => {
                // debugger
                fetch("/sessionLogin", {
                  method: "POST",
                  headers: { "Content-Type": "appication/json"
                },
                  body: JSON.stringify({ 
                    idToken: idToken, 
                    plan: "free" 
                  })
                }).then((response) => {
                  window.location.assign('/dashboard')
                  console.log('success');
                }).catch((err) => {
                  console.error(err)
                  window.location.assign('/sign-in')
                })
              })
            }).catch((error) => {
          })
        return false;
        })
      }
</script>

</html>