<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body style="background-color:black;>
        <header>
<%- include('../partials/nav', { hideSignIn: true }) %>
        </header>


        <div class=" login
">
<img src="https://michiganfuture.org/wp-content/uploads/2019/11/cornell-tech-logo-optimized.png" width="325px"/>
<form id="login-form">
    <div class="field">
        <div class="control">
            <input class="input is-medium is-rounded" name="login" type="email" placeholder="hello@example.com"
                   autocomplete="username" required/>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-medium is-rounded" name="password" type="password" placeholder="**********"
                   autocomplete="current-password" required/>
        </div>
    </div>
    <br/>
    <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
        Login
    </button>
</form>
<br>
<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <a href="sign-up">New? Sign up Here</a>
        </div>
    </div>
</nav>
</div>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script type="module">
    window.onload = () => {
        const firebaseConfig = {
            apiKey: "AIzaSyD-ajVdaBp6vkU1wSEr7iNVS3AB0rO1e8Q",
            authDomain: "milestone1-cs5356.firebaseapp.com",
            projectId: "milestone1-cs5356",
            storageBucket: "milestone1-cs5356.appspot.com",
            messagingSenderId: "135794064009",
            appId: "1:135794064009:web:481be346290c826ba52458"
        };

        const app = firebase.initializeApp(firebaseConfig);

        app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        document
            .getElementById("login-form")
            .addEventListener("submit", (event) => {
                event.preventDefault();
                const login = event.target.login.value;
                const password = event.target.password.value;
                console.log("Login Page")
                // CS5356 TODO #3
                // Sign in using the Firebase SDK for Web
                // Get the users ID token
                // Start a new session with the users ID token
                // Redirect the user to the /dashboard
                firebase.auth().signInWithEmailAndPassword(login, password).then(userCredential => {
                    // Get the user's ID token as it is needed to exchange for a session cookie.
                    console.log("user ID Token")
                    console.log(userCredential.user)
                    const user = userCredential.user
                    const user_id_token = user.getIdToken()
                    user.getIdToken().then(idToken => {
                        // Session login endpoint is queried and the session cookie is set.
                        // CSRF protection should be taken into account.
                        // ...
                        console.log("NEW_BLOCK")
                        console.log(idToken)
                        fetch('/sessionLogin', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({"id_token" : idToken.toString()}),
                        })
                    });
                    // Redirect the user to the /dashboard
                }).then(() => {
                    console.log("redirect to dashboard")
                    window.location.assign('/dashboard');
                });


                return false;
            });
    };
</script>

</html>