<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>
  Sign in or <a href="/sign-up">click here to create a new account</a>.

  <form id="login-form" method="POST">
    <div>
      <input type="text" name="login" placeholder="Username" />
    </div>
    <div>
      <input type="password" name="password" id="password" placeholder="Password" />
    </div>
    <button>
      Sign In
    </button>
    <div id="login-error">

    </div>
    </div>
  </form>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyC59KYBvRt0qbOtKREwMk_CeMh9qiQLD3g",
      authDomain: "ruffhouse-628a1.firebaseapp.com",
      projectId: "ruffhouse-628a1",
      storageBucket: "ruffhouse-628a1.appspot.com",
      messagingSenderId: "276736047845",
      appId: "1:276736047845:web:5068f6468cb0d9ae75320c"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        app.auth().signInWithEmailAndPassword(login, password).then(userCredential => {
          // Get the user's ID token as it is needed to exchange for a session cookie.
          const user = userCredential.user;
          return user.getIdToken()
        }).then(async idToken => {
          await fetch('/sessionLogin', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ idToken: idToken})
          }).then(() => console.log('Success!'))
        }).then(() => {
          window.location.assign('/dashboard');
        }).catch((error) => {
          console.error(error)
        });

          return false;
        });
      };
</script>

</html>