<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <div class="container">
    <% if (message.length > 0) { %>
       <div class="alert alert-warning" role="alert">
         <strong>Warning!</strong> <%= message %>.
       </div>
     <% } %>
     <form class="form-signin" action="/signup" method="post">
       <h2 class="form-signin-heading">Please signup</h2>
       <label for="inputName" class="sr-only">Name</label>
       <input type="text" id="name" name="name" class="form-control"
        placeholder="Name" required="">
       <label for="inputEmail" class="sr-only">Email address</label>
       <input type="email" id="email" name="email" class=
         "form-control" placeholder="Email address" required="">
       <label for="inputPassword" class="sr-only">Password</label>
       <input type="password" id="password" name="password" 
         class="form-control" placeholder="Password" required="">
       <button class="btn btn-lg btn-primary btn-block" 
         type="submit">Sign in</button> 
        <br> 
        <p>Don't have an account? <a href="/signup">Signup</a>
            ,it's free.</p>
      </form>
    </div>
  <!-- <div class="container">
  <div class="col-sm-6 col-sm-offset-3"></div>
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div> -->
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')

    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
    apiKey: "AIzaSyCIFrqTU3R20-jOkT1JyXhEUDCM_V2JN3E",
    authDomain: "cs5356-milestone-1-jd782.firebaseapp.com",
    projectId: "cs5356-milestone-1-jd782",
    storageBucket: "cs5356-milestone-1-jd782.appspot.com",
    messagingSenderId: "969441945643",
    appId: "1:969441945643:web:5d367ab182084ba9d9a26e",
    measurementId: "G-7DXR04KVMK"
}
;

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";

        const auth = getAuth();
        createUserWithEmailAndPassword(auth, email, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;
            // ...
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
  });

        return false;
      });
  };
</script>

</html>