:root {
  // Sizing
  --magicNumber: 60px;
  --magicNumberFlex: 6vw;
  --s-maxWidth: 1440px;

  // Standard Colors

  --c-black: #000;
  --c-white: #fff;
  --c-grey_light: #f9f9f9;
  --c-grey_medium: #dbdbdb;
  --c-grey_dark: #797979;
  --c-grey_darkest: #21232c;

  // Theming

  --c-blue: #0000ed;

  // Breakpoints

  --tablet-breakpoint: 780px;
  --desktop-breakpoint: 1280px;
}

html {
  box-sizing: border-box;
  border-collapse: collapse;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--c-nq--purple);
}

* {
  border-collapse: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:not(body) {
  background-position: 50%;
  background-size: cover;
}

::selection {
  color: var(--c-white);
  background: var(--c-blue);
}

body {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  font-weight: 400;

  main {
    width: 100%;

    @media screen and (max-width: 720px) {
      overflow-x: hidden;
    }
  }

  h1,
  h2,
  h3,
  h1 + p,
  h2 + p {
    font-weight: normal;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
  }
}

h1 {
  font-size: clamp(2rem, calc(2rem + 2vw), 8rem);
  color: var(--c-white);
  + p {
    opacity: 0.6;
    color: var(--c-white);
  }
}

h2 {
  font-size: clamp(1.8rem, calc(1.8rem + 1vw), 6rem);
  + p {
    opacity: 0.6;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
p a,
li {
  font-size: 1rem;
  @media screen and (max-width: 720px) {
    font-size: 0.8rem;
  }
}

@mixin basicBox {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  backdrop-filter: blur(2px);
  color: var(--c-white);

  h3,
  h4 {
    font-size: 1.8rem;
    + p {
      opacity: 0.6;
    }
  }
}

@mixin bgShiny {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
