<!-- <script>
  // Get all "navbar-burger" elements
  const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if (navbarBurgers.length > 0) {
    // Add a click event on each of them
    navbarBurgers.forEach(burgerElement => {
      burgerElement.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = burgerElement.dataset.target;
        const targetElement = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        burgerElement.classList.toggle('is-active');
        targetElement.classList.toggle('is-active');
      });
    });
  }
</script>; -->
<!-- 
<footer class="footer">
  <div class="container">
      
      
      <div class="columns is-multiline">
          
          <div class="column has-text-centered">
              <div>
                  <a href="/bulma-clean-theme/" class="link">Home</a>
              </div>
          </div>
          
          <div class="column has-text-centered">
              <div>
                  <a href="/bulma-clean-theme/blog/" class="link">Blog</a>
              </div>
          </div>
          
          <div class="column has-text-centered">
              <div>
                  <a href="/bulma-clean-theme/products/" class="link">Products</a>
              </div>
          </div>
          
          <div class="column has-text-centered">
              <div>
                  <a href="/bulma-clean-theme/privacy-policy/" class="link">Privacy Policy</a>
              </div>
          </div>
          
      </div>
      

      <div class="content is-small has-text-centered">
          <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
      </div>
  </div>
</footer> -->