<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CS5356: Any global css styles can be defined here -->
  <style>
       .hero-body { 
        background-image: url('../../../static/hero-bg.jpg') ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
        overflow-y: hidden;
      }

      .navbar{
        position: fixed;
        width: 100%;
      }

      .columns{
        width: 100%;
      }
  </style>
</head>