<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CS5356: Any global css styles can be defined here -->
  <style>
    
  </style>

  <div class="box has-text-white has-background-link has-text-centered is-size-4">
    J^2 Games
  </div>
 
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/Sign-up">
        Sign-up
      </a>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" herf="/Sign-in">
        Sign-in
      </a>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" href="/Dashboard">
        Dashboard
      </a>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" href="/Game">
        Snake Easy
      </a>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" href="/game_hard">
        Snake Hard
      </a>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item">
        Chess
      </a>
    </div>
    <div class="navbar-menu">
      <a class="navbar-item" href="/Leaderboard">
        Leaderboard
      </a>
    </div>
  </nav>
  
  
</head>
