<!-- <head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CS5356: Any global css styles can be defined here -->
  <style>

  </style>
</head> -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content=#ffffff>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/png"
         href="/bulma-clean-theme/favicon.png" 
  />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
  
  <!-- Begin Jekyll SEO tag v2.7.1 -->
<title>Example Landing Page | Bulma Clean Theme</title>
<meta name="generator" content="Jekyll v3.9.0" />
<meta property="og:title" content="Example Landing Page" />
<meta property="og:locale" content="en" />
<meta name="description" content="The demo site for Bulma Clean Theme, made for Jekyll and GitHub pages websites" />
<meta property="og:description" content="The demo site for Bulma Clean Theme, made for Jekyll and GitHub pages websites" />
<link rel="canonical" href="https://www.csrhymes.com/bulma-clean-theme/landing/" />
<meta property="og:url" content="https://www.csrhymes.com/bulma-clean-theme/landing/" />
<meta property="og:site_name" content="Bulma Clean Theme" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Example Landing Page" />
<script type="application/ld+json">
{"description":"The demo site for Bulma Clean Theme, made for Jekyll and GitHub pages websites","headline":"Example Landing Page","url":"https://www.csrhymes.com/bulma-clean-theme/landing/","@type":"WebPage","@context":"https://schema.org"}</script>
<!-- End Jekyll SEO tag -->
<!-- head scripts --></head>