<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CS5356: Any global css styles can be defined here -->
  <div class="hero-head">
    <nav class="navbar is-info" >
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                
                  <div style="font-size:3vw" class="icon-text">
                    <span class="icon is-white has-text-white">
                      <i class="fa fa-paw "></i>
                    </span>
                    <span>   Ruff House </span>
                  </div>
                 
                </a>
                
            </div>
        </div>
    </nav>
  </div>
  <style>

  </style>
</head>