<nav class="navbar" style="background-color: #7897AB;">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="image">
          <!-- https://images.squarespace-cdn.com/content/v1/600a33800d9165627e2f1166/1611290775660-MR497CSUK48EMCVQKDKZ/RH_Logo_Full_W_F.png -->
          <img class="is-rounded" src="https://e7.pngegg.com/pngimages/164/623/png-clipart-computer-icons-box-icon-design-logo-box-miscellaneous-angle-thumbnail.png" alt="Logo" style="height: 50;
          width: 50;">
        </figure>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <% if(locals.email) { %>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/dashboard" class="navbar-item"> 
            <%= email %>
              <i class="material-icons">person_outline</i>
          </a>
        </div>
      </div>
      <% } else if(locals.hideSignIn) { %>
      <% } else { %>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/sign-in" class="button is-primary" style="background-color: #D885A3;">Sign In
              </a>
            </div>
          </div>
        </div>

        
      <% }%>

      
  </div>
</nav>
