<nav class="navbar is-warning " x-data="{ openNav: false }">
  <div class="container">
      <div class="navbar-brand">
          <a href="/" class="navbar-item ">
              Ruffhouse
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu" :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
          <div class="navbar-start">
              <a href="/" class="navbar-item ">Home</a>
              
                  
              <a href="/dashboard" class="navbar-item ">Dashboard</a>
          
                  
              
              
          </div>

          <div class="navbar-end">
              
            <div class="navbar-item">
              <a href="/sign-in" class="button is-primary">Sign In
              </a>
            </div>

            <div class="navbar-item">
              <a href="/sign-up" class="button is-link is-outlined"> Sign Up
              </a>
            </div>
              
          </div>

      </div>
  </div>
</nav>