<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <div class="columns">
          <div class="column is-3">
          <figure class="image">
            <span class="material-icons" style="color:white">pets</span>
          </figure>
          </div>
          <div class="column">
          RuffHouse
          </div>
        </div>
      </a>
      <!-- the following displays the burger only on touch-devices -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <!-- if the user is signed-up -->
    <% if(locals.email) { %>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/sessionLogout" class="navbar-item">
            <span class="material-icons mr-2">person_outline</span> <%= email %> (log out)
          </a>
        </div>
      </div>
      <% } else if(locals.hideSignIn) { %>
      <% } else { %>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/sign-in" class="button is-primary">
                <div class="columns">
                  <div class="column is-3">
                    <span class="material-icons">person_outline</span>
                  </div>
                  <div class="column">
                    Sign In
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      <% }%>
  </div>
</nav>