<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <i class="fa-solid fa-paw"></i>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <% if(locals.email) { %>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/dashboard" class="navbar-item">
            <%= email %>
              <i class="material-icons">person_outline</i>
          </a>
          <a href="/sessionLogout" class="button is-link is-small is-responsive mt-3 ml-3">Log Out</a>
        </div>
      </div>
      <% } else if(locals.hideSignIn) { %>
      <% } else { %>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/sign-up" class="button is-danger">Sign up
              </a>
            </div>
            <div class="navbar-item">
              <a href="/sign-in" class="button is-primary">Log in
              </a>
            </div>
          </div>
        </div>
      <% }%>
  </div>
</nav>