<article class="scroll--item">
  <figure class="item--image">
    <img src="/static/waffie.jpg" alt="Placeholder image">
  </figure>
  <div class="item--content">
    <h4>Boy</h4>
    <p>Dolor sit amet. Creatus aniae sium</p>
    <a href="/" class="button">Learn more</a>
  </div>
</article>