
.title {
    color: white;
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}
  
.subtitle {
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}
  
hr.content-divider {
    max-width: 75px;
    height: 5px;
}

#main-row {
    background: #FFF599;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
#parallax-1 {
    background: url('../../static/shiba.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #D6FF99;
}
  
#parallax-1 hr {
    background: #D6FF99;
}
  
#parallax-2 {
    background: url('../../static/corgi.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #99FFF5;
}
  
#parallax-2 hr {
    background: #99FFF5;
}
  
#parallax-3 {
    background: url('../../static/golden-retriever.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #99D6FF;
}
  
#parallax-3 hr {
    background: #99D6FF;
}
  
.label {
    color: white;
}
  
input {
    background: transparent !important;
    border: 1px solid turquoise !important;
    color: white !important;
}
  
input::placeholder {
    color: white !important;
}